[#assign title="点点小匠-工程需求列表"]
[#include "/common/cms_header.html"]
<link rel="stylesheet" href="[@resUrl /]/assets/cms/css/common/jquery.galpop.css?[@cmsVersion /]">
<script src="[@resUrl /]/assets/cms/js/common/WdatePicker.js?[@cmsVersion /]"></script>
<script src="[@resUrl /]/assets/cms/js/common/jquery.galpop.min.js?[@cmsVersion /]"></script>
<div class="cms-content" id="projectList">
	<div class="alert alert-warning" >注：工程需求列表 </div>
	<form method="post" id="project_record_form" action="${base}/sites/project/list.htm">
		<input id="currentPage" type="hidden" name="currentPage"/>
		<div class="cms-search">
		  	<div class="search-item">
			  <span class="search_title">需求工种：</span>
			  <input type="text" name="categoryName" id="categoryName" placeholder="情输入工种名称"  class="form-control search-input"  autocomplete="off"> 
		  	</div>
		  	<div class="search-item">
			  <span class="search_title">联系电话：</span>
			  <input type="text" name="phone" id="phone" placeholder="请输入联系电话"  class="form-control search-input"  autocomplete="off"> 
		  	</div>
		  	<div class="search-item">
			  	<label class="search-title">受理状态：</label>
			    <select class="form-control" id="status" name="status" >
					<option  value="">受理状态</option>
					<option value="1">未受理</option>
					<option value="2">已受理</option>
				</select>
		  	</div>
		  <div class="search-button">
		     <button type="submit" class="btn btn-warning" onclick="queryDemandList(1);">查询</button>
		  </div>
	</div>
	</form>
	<div class="cms-table-tpl">
		[#include "/sites/project_record_list_tpl.html"]
	</div>
	[#include "/common/cms_page.html"]
</div>
<script type="text/javascript">
$('#project_record_form').ajaxForm({
	beforeSubmit:function(){
			
		return true;
	},
	warningMessage:"正在查询,请稍后...",
	success:function(data){
		$.removeFormOverLay(data);
	},
	closeFormOverLayCallBack:function(data){
		 $(".cms-table-tpl").html(data)
	}
});

function queryDemandList(page)
{
	if(page == 1)
	{
		isInitPage = false;
	}
	$("#currentPage").val(page);
	$('#project_record_form').submit();
}

queryDemandList(1);

function updateProjectStatus(id)
{
	doPost("${base}/sites/project/update.htm",{id:id},function(data){
		if(data.response)
		{
			queryDemandList();
		}
	})
}
function confirmDeleteProject(id)
{
	showConfirmDialog({message : "确认要删除该工程需求吗？",height:100},function(){
		alertTip("正在删除，请稍后...",4);
		doPost("${base}/sites/project/delete.htm",{id:id},function(data){
			if(data.response)
			{
				minAlert("删除成功！",1);
				queryDemandList();
			}
		});
	});
}
</script>
[#include "/common/cms_footer.html"]