[#assign title="点点小匠-官网幻灯片列表"]
[#include "/common/cms_header.html"]
<link rel="stylesheet" href="[@resUrl /]/assets/cms/css/common/jquery.galpop.css?[@cmsVersion /]">
<script src="[@resUrl /]/assets/cms/js/common/WdatePicker.js?[@cmsVersion /]"></script>
<script src="[@resUrl /]/assets/cms/js/common/jquery.galpop.min.js?[@cmsVersion /]"></script>
<div class="cms-content" id="slideList">
	<div class="alert alert-warning" >注：展示在公司官网的轮播图</div>
	<form method="post" id="sites_slide_form" action="${base}/sites/slide/list.htm">
		<input id="currentPage" type="hidden" name="currentPage"/>
		<div class="cms-search">
			<div class="search-item">
			  <span class="search_title">幻灯片标题：</span>
			  <input type="text" name="imgName" id="imgName" placeholder="标题关键字"  class="form-control search-input"  autocomplete="off"> 
		  	</div>

		  <div class="search-button">
		     <button type="submit" class="btn btn-warning" onclick="querySlideList(1);">查询</button>
		  </div>
	</div>
	</form>
	[@shiro.hasPermission name="system:site:slide:add"]
	<div class="operate-btn">
		<div class="operate-item">
			<button type="button" class="btn btn-warning" onclick="updateSlide()">添加幻灯片</button>
		</div>
	</div>
	[/@shiro.hasPermission]
	<div class="cms-table-tpl">
		[#include "/sites/slide_record_list_tpl.html"]
	</div>
	[#include "/common/cms_page.html"]
</div>
<script type="text/javascript">
$('#sites_slide_form').ajaxForm({
	beforeSubmit:function(){
			
		return true;
	},
	warningMessage:"正在查询,请稍后...",
	success:function(data){
		$.removeFormOverLay(data);
	},
	closeFormOverLayCallBack:function(data){
		 $(".cms-table-tpl").html(data)
	}
});

function querySlideList(page)
{
	if(page == 1)
	{
		isInitPage = false;
	}
	$("#currentPage").val(page);
	$('#sites_slide_form').submit();
}

querySlideList(1);
function updateSlide(id)
{
	var url = "${base}/sites/slide/edit.htm"
	if(id)
	{
		url += "?slideId=" + id;
	}
	TB_show({"url":url,"title": id ? "修改机构" : "新增机构","width":450,"height":680});
}
function confirmSlideRecord(id)
{
	showConfirmDialog({message : "确认要删除该条记录吗？",height:100},function(){
		alertTip("正在删除，请稍后...",4);
		doPost("${base}/sites/slide/delete.htm",{id:id},function(data){
			if(data.response)
			{
				minAlert("删除成功！",1);
				querySlideList();
			}
		});
	});
}
</script>
[#include "/common/cms_footer.html"]