<div class="table-responsive  cms-table">
  <table class="table">
   	<tr>
   		<td style="width: 30px">
   			<div class="el-checkbox el-checkbox-green ">
				<input type="checkbox" name="check"  id="selectAllOrder" onclick="selectAllOrders('menuId')">
				<label class="el-checkbox-style" for="selectAllOrder"></label>
			</div>
   		</td>
   		<td>菜单名称</td>
   		<td>上级菜单</td>
   		<td>执行事件类型</td>
   		<td>菜单URL</td>
   		<td>回复文字</td>
   		<td align="center">回复图片</td>
   		<td>菜单排序</td>
   		<td>创建时间</td>
   		<td>更新时间</td>
   		<td>操作</td>
   	</tr>
   	[#if weChatMenuList?? && weChatMenuList?size > 0]
	   	[#list weChatMenuList as menu]
	   	<tr>
	   		<td>
				<div class="el-checkbox el-checkbox-green">
					<input type="checkbox" name="menuId" id="${menu.id}" >
					<label class="el-checkbox-style" for="${menu.id}"></label>
				</div>
		   	</td>
	   		<td>${menu.menuName!""}</td>
	   		<td>
	   			[#if menu.parentMenu?? && menu.parentMenu.menuName??]
		   			${menu.parentMenu.menuName}
   				[#else]
   					一级菜单
	   			[/#if]
	   		</td>
	   		<td>
	   			[#if menu.clickAction == 0]
	   				无触发
	   			[#elseif menu.clickAction == 1]
	   				自定义链接
	   			[#elseif menu.clickAction == 2]
	   				回复图片
	   			[#elseif menu.clickAction == 3]
	   				回复文字
	   			[/#if]
	   		</td>
	   		<td>
	   			[#if menu.menuUrl?? && menu.menuUrl?length > 0]
	   				链接过长
	   			[#else]
	   				无
	   			[/#if]
	   		</td>
	   		<td>
	   			[#if menu.replyText?? && menu.replyText?length > 0]
	   				${menu.replyText}
	   			[#else]
	   				无
	   			[/#if]
	   		</td>
	   		<td align="center" valign="middle">
		   		[#if menu.replyImage?? && menu.replyImage?length > 0]
	   				<a class="label label-default galpop-single galpop-info" href="${menu.replyImage!''}" >查看图片</a>
	   			[#else]
	   				无
	   			[/#if]
	   		</td>
	   		<td>${(menu.indexNumber)!''}</td>
	   		<td>${(menu.createTime?string("yyyy-MM-dd HH:mm:ss"))!''}</td>
	   		<td>${(menu.updateTime?string("yyyy-MM-dd HH:mm:ss"))!''}</td>
	   		<td>
				[@shiro.hasPermission name="system:wechat:menu:edit"]
					<button type="button" class="btn btn-warning" onclick="wechatMenuEdit(${menu.id})">编辑</button>
		   		[/@shiro.hasPermission]
		   		[@shiro.hasPermission name="system:wechat:menu:delete"]
					<button type="button" class="btn btn-danger" onclick="confirmWechatMenu(${menu.id})">删除</button>
		   		[/@shiro.hasPermission]
	   		</td>
	   	</tr>
	   	[/#list]
	[#else]
	  	<tr>
	   		<td colspan="11" class="center">暂无数据 <b class="red">&nbsp;&nbsp;提示：请确认您的查询条件是否正确，或者减少一些筛选条件</b></td>
	   	</tr>
   	[/#if]
  </table>
</div>
<script>
var page = "${currentPage}" * 1;
$("#currentPageNumber").text(page);
$("#currentTotalCount").text("${currentTotalCount!'0'}");
if(!isInitPage)
{
	window.parent.initCmsPagehelp(${currentTotalCount!'0'},function(response, pagination){
		if(isInitPage)
		{
			queryWechatMenuList(pagination.pageNumber);
		}
	});
}
$('.galpop-info').galpop();
</script>