<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href="../../css/shop.css" type="text/css" rel="stylesheet" />
	<link href="../../css/Sellerber.css" type="text/css" rel="stylesheet" />
	<link href="../../js/lay/css/layui.css" type="text/css"
		rel="stylesheet" />
	<link href="../../css/bkg_ui.css" type="text/css" rel="stylesheet" />
	<link href="../../font/css/font-awesome.min.css" rel="stylesheet"
		type="text/css" />
	<script src="../../js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="../../js/Sellerber.js" type="text/javascript"></script>
	<script src="../../js/city_data.js" type="text/javascript"></script>
	<script src="../../js/common/common.js" type="text/javascript"></script>
	<script src="../../js/hsCheckData.js" type="text/javascript"></script>
	<script src="../../js/angular.min.js" type="text/javascript"></script>
	<script src="../../js/lay/layui.js" charset="utf-8"></script>
	<script src="../../js/laydate/laydate.js" type="text/javascript"></script>
	<title>分销设置</title>
	<style>
#LAY_layedit_1 img {
	width: 200px;
}
</style>
</head>
<body>
	<div class="margin Competence_style" id="page_style" ng-app="invite"
		ng-controller="inviteShareSetting">
		<div class="operation clearfix same_module mb15">
			<div class="order-search-item">
				<a ng-click="addActive()" id="administrator_add"
					class="btn button_btn bg-deep-blue"><i class="fa  fa-edit"></i>&nbsp;添加活动</a>
			</div>
			<div class="order-search-item">
				<span class="search_title">分享标题：</span> <input type="text"
					name="title" id="title" ng-model="title"
					class="input textinput-main width160" placeholder="请输入标题" />
			</div>
			<div class="order-search-item">
				<span class="search_title">分享渠道：</span> <input type="text"
					name="channel" id="channel" ng-model="channel"
					class="input textinput-main width160" placeholder="分享渠道" />
			</div>
			<div class="order-search-item" style="width: 430px">
				<span class="search_title">创建时间：</span> <input type="text"
					name="startTime" id="startTime"
					class="input textinput-main laydate-icon width160"
					placeholder="开始时间"> 至 <input type="text" name="endTime"
					id="endTime" class="input textinput-main laydate-icon width160"
					placeholder="结束时间">
			</div>
			<div class="order-search-item">
				<button class="btn button_btn bg-deep-blue " onclick=""
					type="button" ng-click=findInviteSetting(0)>
					<i class="fa  fa-search"></i>&nbsp;搜索
				</button>
			</div>
		</div>
		<div class="bkg_List clearfix datatable_height confirm">
			<table class="table  table_list table_striped table-bordered">
				<thead>
					<tr>
						<th width="40"><label><input type="checkbox"
								class="ace"><span class="lbl"></span></label></th>
						<th>分享标题</th>
						<th>分享内容</th>
						<th>分享链接</th>
						<th>分享渠道</th>
						<th>分享图片</th>
						<th>创建时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-if="inviteList != null && inviteList.length > 0 "
						ng-repeat="invite in inviteList track by $index">
						<td><label><input type="checkbox" class="ace"><span
									class="lbl"></span></label></td>
						<td ng-bind="invite.title"></td>
						<td ng-bind="invite.content"></td>
						<td ng-bind="invite.linkUrl"></td>
						<td ng-if="invite.type ==1 ">微信</td>
						<td ng-if="invite.type ==2 ">朋友圈</td>
						<td><img ng-src="{{invite.img}}" width="100px;"
							height="100px;" /></td>
						<td ng-bind="invite.createTime.time | date:'yyyy-MM-dd HH:mm'"></td>
						<td class="td-manage">
							<div class="btn_group">
								<button class="layui-btn layui-btn-warm btn_group_action "
									onclick="changeBtnGroup(this)" type="button">
									编辑<i class="fa  fa-angle-down ml10"></i>
								</button>
								<ul class="btn_group_item none">
									<li><a title="编辑"
										ng-click="addActive(invite.id)"
										href="javascript:;">编辑</a></li>
									<li><a title="删除" ng-click="deleteInvite(invite.id)"
										href="javascript:;">删除</a></li>
								</ul>
							</div>
						</td>
					</tr>
					<tr ng-if="inviteList == null || inviteList.length <= 0 ">
						<td class="center" colspan="14">暂无数据<b class="red">&nbsp;&nbsp;提示：请确认您的查询条件是否正确，或者减少一些筛选条件</b></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="list-page" class="clearfix col-xs-12 col-lg-12 align"></div>
		<div id="add_role" class=" add_role" style="display: none">
			<form ng-submit="updateRole()">
				<div class="add_style add_administrator_style">
					<ul>
						<li class="clearfix"><label
							class="label_name col-xs-2 col-lg-2"><i>*</i>活动标题：</label>
							<div class="formControls col-xs-6">
								<input type="text" class="input-text col-xs-12" value=""
									placeholder="请输入活动标题" ng-model="invite.title">
							</div></li>
						<li class="clearfix"><label
							class="label_name col-xs-2 col-lg-2"><i>*</i>分享内容：</label>
							<div class="formControls col-xs-6">
								<input type="text" class="input-text col-xs-12" value=""
									placeholder="请输入分享内容" ng-model="invite.content">
							</div></li>
						<li class="clearfix"><label
							class="label_name col-xs-2 col-lg-2"><i>*</i>活动链接：</label>
							<div class="formControls col-xs-6">
								<input type="text" class="input-text col-xs-12" value=""
									placeholder="请输入活动链接" ng-model="invite.linkUrl">
							</div></li>
						<li class="clearfix"><label
							class="label_name col-xs-2 col-lg-2"><i>*</i>分享渠道：&nbsp;&nbsp;</label>
							<div class="formControls col-xs-6">
								<select ng-model="invite.type" class="input-text col-xs-12">
									<option ng-repeat="x in sites" value="{{x.url}}">{{x.site}}</option>
								</select>
							</div></li>
						<li class="clearfix"><label
							class="label_name col-xs-2 col-lg-2"><i>*</i>分享图片：&nbsp;&nbsp;</label>
							<div class="Add_content col-xs-9">
								<div class="preview_img" style="max-width: 300px;">
									<img style="max-width: 100%; max-height: 100%;"
										ng-src="{{invite.img}}" id="inviteShareImage" border="0"
										src="../../images/image.png" />
								</div>
								<div class="fileInput ">
									<input type="file"
										onchange="imageChange(this,'inviteShareImage')"
										class="upFileBtn"
										accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" />
								</div>
							</div></li>
						<li class="clearfix col-xs-12 col-lg-12 align"><input
							class="btn button_btn bg-deep-blue btn_height" type="button"
							value="保存" ng-click="submitInvite()"></li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
<script>
	var start = {
		elem : '#startTime',
		format : 'YYYY-MM-DD',
		// min: laydate.now(), //设定最小日期为当前日期
		max : '2099-06-16', //最大日期
		istime : true,
		istoday : false,
		choose : function(datas) {
			end.min = datas; //开始日选好后，重置结束日的最小日期
			end.start = datas //将结束日的初始值设定为开始日
		}
	};
	var end = {
		elem : '#endTime',
		format : 'YYYY-MM-DD',
		//min: laydate.now(),
		max : '2099-06-16',
		istime : true,
		istoday : false,
		choose : function(datas) {
			start.max = datas; //结束日选好后，重置开始日的最大日期
		}
	};

	laydate(start);
	laydate(end);
	var invite = angular.module('invite', []);
	invite.controller('inviteShareSetting', function($scope, $timeout, $sce) {
		$scope.title = "", $scope.channel = "", $scope.pageNum = 1;
		$scope.pageSize = 10;
		layui.use([ 'layer' ], function() {
		});

		$scope.sites = [ {
			site : "微信分享",
			url : 1
		}, {
			site : "朋友圈分享",
			url : 2
		}, ];

		$scope.findInviteSetting = function(isSearchBtn) {
			Ajax.post({
				url : getRoot + '/invite/record/setting/find.ddxj',
				data : {
					title : $scope.title,
					channel : $scope.channel,
					startTime : $("#startTime").val(),
					endTime : $("#endTime").val(),
					pageNum : $scope.pageNum,
					pageSize : $scope.pageSize
				},
				async : true,
				success : function(data) {
					if (data.response == true) {
						$scope.total = data.data.inviteList.total;
						$scope.inviteList = data.data.inviteList.list;
						$scope.$apply();
						if (isSearchBtn != 1) {
							$scope.initPage();
						}
					}
				}
			});
		}

		$scope.findInviteSetting(0);
		
		$scope.deleteInvite = function (id)
		 {
			 layer.confirm("确定要删除吗？",function(index){
				 Ajax.post({
			         url: getRoot+'/invite/record/delet.ddxj',
			         data: {id:id},
			         async: true,
			         success: function(data) {
			             if(data.response == true)
			             {
							 layer.msg('已删除!',{icon: 6,time:1000});
			            	 $scope.findInviteSetting(0);
			             }
			         }
			     }); 
			});
		 }

		$scope.submitInvite = function() {
			alert($scope.invite.type);
			if(!isNotNull($scope.invite.title))
			 {
				 layer.msg("请输入活动标题");
				 return false;
			 }
			if(!isNotNull($scope.invite.content))
			 {
				 layer.msg("请输入活动内容");
				 return false;
			 }
			if(!isNotNull($scope.invite.linkUrl))
			 {
				 layer.msg("请输入活动链接");
				 return false;
			 }if(!isNotNull($scope.invite.type))
			 {
				 layer.msg("请输入活动渠道");
				 return false;
			 }
			var image = $("#inviteShareImage").attr("src");
			if (image != "../../images/image.png") {
				$scope.invite.img = image;
			}
			if(!isNotNull($scope.invite.img))
			 {
				 layer.msg("请上传活动图片");
				 return false;
			 }
			Ajax.post({
				url : getRoot + '/invite/record/setting/save.ddxj',
				data : $scope.invite,
				async : true,
				success : function(data) {
					if (data.response) {
						layer.closeAll();
						layer.msg(data.responseMsg);
					}
				}
			})
		}
		$scope.initPage = function() {
			//$scope.initPageFlag = true
			layui.use([ 'laypage', 'layer' ], function() {
				var laypage = layui.laypage, layer = layui.layer;
				laypage.render({
					elem : 'list-page',
					count : $scope.total //数据总数
					,
					jump : function(obj, first) {
						$scope.pageNum = obj.curr;
						$scope.pageSize = obj.limit;
						if (!first)//一定要加此判断，否则初始时会无限刷新
						{
							$scope.findInviteSetting(1);
						}
					}
				});
			});
		}
		$scope.addActive = function(inviteId)//打开添加窗口
		{
			$scope.invite = "";
			$scope.isShow=false;
			 if(isNotNull(inviteId))
			 {
				 Ajax.post({
			         url: getRoot+'/invite/record/setting/findId.ddxj',
			         data: {id:inviteId},
			         async: true,
			         success: function(data) {
			             if(data.response == true)
			             {
			            	 $scope.invite = data.data.invite;
			            	 $scope.isShow=true;
			            	 $scope.$apply();
			             }
			         }
			     }); 
			 }
			layer.open({
				type : 1,
				title : inviteId?'修改活动':'添加活动',
				area : [ '600px', '500' ],
				shadeClose : false,
				content : $('#add_role'),

			});
		}
		$scope.findInviteSetting(0);
	});
	/*********滚动事件*********/
	$("body").niceScroll({
		cursorcolor : "#888888",
		cursoropacitymax : 1,
		touchbehavior : false,
		cursorwidth : "5px",
		cursorborder : "0",
		cursorborderradius : "5px"
	});
</script>
