<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../css/shop.css" type="text/css" rel="stylesheet" />
<link href="../../css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="../../css/zTreeStyle.css" type="text/css"  rel="stylesheet" />
<link rel="stylesheet" href="../../css/layui.css"  media="all">
<link href="../../css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="../../font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<link href="../../css/common/common.css"  rel="stylesheet" type="text/css" />
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script src="../../js/angular.min.js" type="text/javascript"></script>
<script src="../../js/jquery.ztree.all.js" charset="utf-8"></script>
<script src="../../js/lay/layui.js" charset="utf-8"></script>
<script src="../../js/common/common.js" type="text/javascript" />
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script src="../../js/shopFrame.js" type="text/javascript"></script>
<script src="../../js/Sellerber.js" type="text/javascript"></script>
<title>微信菜单列表</title>
</head>
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
  <![endif]-->
<body ng-app="menu" ng-controller="weChatMenu">
<div class="margin Competence_style" id="page_style">

<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
	  <ul class="layui-tab-title">
	    <li><a href="wechatSetting.html">基本设置</a></li>
	    <li><a href="wechatUserList.html">用户管理</a></li>
	    <li><a href="wechatNewsView.html">图文素材</a></li>
	    <li><a href="weChat_menu.html"  class="layui-this">自定义菜单</a></li>
	  </ul>
	  <div class="layui-tab-content">
	  	<div class="operation clearfix same_module mb15">
	  		<a  ng-click="openMenu()" id="administrator_add" class="btn button_btn bg-deep-blue"><i class="fa  fa-edit"></i>&nbsp;添加菜单</a>
			<a  ng-click="pushWechat()" id="administrator_add" class="btn button_btn bg-deep-blue"><i class="fa  fa-edit"></i>&nbsp;发布到公众号</a>
	  	</div>
		<div class="compete_list" >
	       <table id="sample_table" class="table table_list table_striped table-bordered dataTable no-footer">
			 <thead>
				<tr>
				  <th class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
				  <th>菜单名称</th>
				  <th>上级菜单</th>
				  <th>执行事件类型</th>
				  <th>菜单URL</th>
	              <th>回复文字</th>
	              <th>回复图片</th>
	              <th>菜单排序</th>
	              <th>创建时间</th>
	              <th>更新时间</th>
				  <th class="hidden-480">操作</th>
	             </tr>
			    </thead>
	             <tbody>
				  <tr ng-if="weChatMenuList.length > 0 " ng-repeat="menu in weChatMenuList track by $index">
					<td class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
					<td ng-bind="menu.menuName"></td>
					<td ng-bind="menu.parentMenu.menuName ? menu.parentMenu.menuName : '一级菜单'"></td>
					<td class="td-status">
					      <span class="label label-success radius" ng-if="menu.clickAction == 0">无触发</span>
					      <span class="label label-success radius" ng-if="menu.clickAction == 1">自定义链接</span>
					      <span class="label label-success radius" ng-if="menu.clickAction == 2">回复图片</span>
					      <span class="label label-success radius" ng-if="menu.clickAction == 3">回复文字</span>
				     </td>
					<td ng-bind="menu.menuUrl?'链接过长':''"></td>
					<td ng-bind="menu.replyText ? menu.replyText : '无'"></td>
					<td ng-if="menu.replyImage != null && menu.replyImage != ''">
						<img ng-src="{{menu.replyImage}}" width="100px;" height="100px;" ng-click="showBigImage(menu.replyImage)"/>
					</td>
					<td ng-if="menu.replyImage == null || menu.replyImage == ''">
						无
					</td>
					<td ng-bind="menu.indexNumber"></td>
	                <td ng-bind="menu.createTime.time | date:'yyyy年MM月dd日'"></td>
	                <td ng-bind="menu.updateTime.time | date:'yyyy年MM月dd日'"></td>
					<td class="td-manage">
						<div class="btn_group">
						<button class="layui-btn layui-btn-warm btn_group_action " onclick="changeBtnGroup(this)" type="button" >编辑<i class="fa  fa-angle-down ml10"></i></button>
						<ul class="btn_group_item none">
						<li><a title="编辑" ng-click="openMenu(menu.id)" href="javascript:;" >编辑</a></li> 
						<li><a title="删除" href="javascript:;" ng-click="deleteMenu(menu.id)" >删除</a></li>
						</ul>
						</div>
					</td>
				   </tr>
				   <tr ng-if="weChatMenuList == null || weChatMenuList.length <= 0 ">
				   	<td class="center" colspan="12">暂无数据</td>
				   </tr>
			      </tbody>
		        </table>
	     </div>
	  <div id="list-page" class="clearfix col-xs-12 col-lg-12 align"></div>
	</div>
	 <!--添加菜单-->
	 <div id="add_menu" class=" add_menu" style="display:none">
	  <form ng-submit="updateRole()" >
	   <div class="add_style add_administrator_style">
	    <ul>
	     <li class="clearfix">
	      <label class="label_name col-xs-2 col-lg-2"><i class="c-red">*</i>菜单类型：</label>
	      	<div class="formControls col-xs-6">
	   			<span class="add_name">
	     			<select id="balanceWay" ng-model="parentType" ng-init="parentType = selectMenuList[0].value" ng-options="role.value as role.name for role in selectMenuList">
	               		<option value="">请选择菜单类型</option>
	       			</select>
				</span>
			</div>
	     </li>
		<li class="clearfix " ng-if="twoMenu">
	      <label class="label_name col-xs-2 col-lg-2"><i class="c-red">*</i>上级菜单：</label>
	      	<div class="formControls col-xs-6">
	   			<span class="add_name">
	     			<select id="balanceWay_id" ng-model="menu.parentId" ng-change="changeParentMenu()" ng-init="menu.parentId=menuParentList[0].id" ng-options="role.id as role.menuName for role in menuParentList">
	               		<option value="">请选择上级菜单</option>
	       			</select>
				</span>
			</div>
	     </li>
	     <li class="clearfix ">
		     <label class="label_name col-xs-2 col-lg-2"><i>*</i>菜单名称：</label>
		     <div class="formControls col-xs-6">
		     <input type="text" class="input-text col-xs-12" value="" placeholder="请输入菜单名称" ng-model="menu.menuName" ></div>
	     </li>
	     <li class="clearfix" ng-if="menu.clickAction == 3">
		     <label class="label_name col-xs-2 col-lg-2"><i>*</i>菜单KEY：</label>
		     <div class="formControls col-xs-6">
		     <input type="text" class="input-text col-xs-12" id="menuKey_id" placeholder="请输入菜单KEY" ng-model="menu.menuKey" ></div>
		     <button class="btn button_btn bg-deep-blue btn_height" type="button"  id="randomMenuKey" ng-click="randomMenuKey()">生成字符串</button>
		     
	     </li>
	     <li class="clearfix">
	      <label class="label_name col-xs-2 col-lg-2"><i class="c-red">*</i>触发方式：</label>
	      		<div class="formControls col-xs-6">
	   					<span class="add_name">
			     			<select id="balanceWay_id" ng-model="menu.clickAction" ng-init="menu.clickAction=settlementList[0].value" ng-options="role.value as role.name for role in settlementList">
			               		<option value="">请选择触发方式</option>
			       			</select>
						</span>
	   				</div>
	     </li>
	      <li class="clearfix" ng-if="menu.clickAction == 1">
		     <label class="label_name col-xs-2 col-lg-2"><i>*</i>菜单URL：</label>
		     <div class="formControls col-xs-6">
		     <input type="text" class="input-text col-xs-12" value="" placeholder="请输入菜单URL:" ng-model="menu.menuUrl" ></div>
	     </li>
	     <li class="clearfix" ng-if="menu.clickAction == 2">
		    	<label class="label_name col-xs-2 col-lg-2"><i>*</i>回复图片：</label>
		     <div class="formControls col-xs-6">
		    	<div class="menu.replyImage" style="max-width: 250px;">
					<img style="max-width: 100%;max-height: 100%;" ng-src="{{menu.replyImage}}" id="replyImage" border="0" src="../../images/image.png" />
				</div>
				<div class="fileInput ">
					<input type="file" onchange="imageChange(this,'replyImage')" class="upFileBtn" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg">
		        </div>
		     
		     </div>
	     </li>
	     <li class="clearfix" ng-if="menu.clickAction == 3">
		     <label class="label_name col-xs-2 col-lg-2"><i>*</i>回复文字：</label>
		     <div class="formControls col-xs-6">
				<textarea name="" cols="" rows="" ng-model="menu.replyText" class="textarea col-xs-12" style="width:420px;" placeholder="回复文字" dragonfly="true"></textarea>
		     </div>
	     </li>
	     <li class="clearfix" >
		     <label class="label_name col-xs-2 col-lg-2"><i>*</i>菜单排序：</label>
		     <div class="formControls col-xs-6">
		     <input type="text" class="input-text col-xs-12" value="" placeholder="请输入菜单排序，如：1" ng-model="menu.indexNumber" ></div>
	     </li>
	     <li class="clearfix col-xs-12 col-lg-12 align">
		  <input class="btn button_btn bg-deep-blue btn_height" type="button"  value="保存" ng-click="updateMenu()">
		 </li>
	    </ul>
		 </div>
	    </form>
	   </div>
	   <div id="show_credit_image" class="addOrUpdate_credit layui-form-item" style="display:none">
			<a class="close" ng-click="hideBigImage()"></a>
			<div class="hide-layer" ng-click="hideBigImage()"></div>
			<div class="add_style add_administrator_style">
				<img ng-src="{{image}}" ng-model="image" class="big-img" src="" />
			</div>
		</div>
		<div class="userinfo_style" id="content_detail" style="display: none">
			<div class="member_show" >
				<div class="member_content"></div>
			</div>
		</div>
	  </div>

</div>
</body>
</html>
<script>
var menuManager = angular.module('menu', []);
menuManager.controller('weChatMenu', function($scope,$timeout) {
	$scope.menu = {};
	 $scope.pageNum = 1;
	 $scope.pageSize = 20;
	 $scope.parentType = 1;
	/*  $scope.twoMenu = false; */
	 $scope.settlementList = 
	 [
	  {
		 name:'无触发',
		 value:0
	 }
	 ,{
		 name:'自定义链接',
		 value:1
	 },
	 {
		 name:'回复图片',
		 value:2
	 }
	 ,
	 {
		 name:'回复文字',
		 value:3
	 }];
	 $scope.selectMenuList =
		 [
		  {
			 name:'一级菜单',
			 value:1
		 }
		 ,{
			 name:'二级菜单',
			 value:2
		 }];
	 $scope.queryMenuPageList = function()//查询用户信息
	 {
		layui.use(['layer'], function(){
			 var index =  layui.layer.load(3, {
				  shade: [0.1,'#888'] //0.1透明度的白色背景
				}); 
			 Ajax.post({
		         url: getRoot+'/manager/query/menu/list.ddxj',
		         data: {pageNum:$scope.pageNum,pageSize:$scope.pageSize},
		         async: true,
		         success: function(data) {
		        	 layer.close(index);
		             if(data.response == true)
		             {
		            	 $scope.total = data.data.weChatMenuList.total;
		               	 $scope.weChatMenuList = data.data.weChatMenuList.list;
		               	 $scope.$apply();
		               	 if(!$scope.initPageFlag)
		               	 {
		               		 $scope.initPage();
		               	 }
		             }
		         }
		     }); 			
		 })
	 }
		$scope.initPage = function()
		{
			$scope.initPageFlag = true;
			layui.use(['laypage', 'layer'], function(){
				var laypage = layui.laypage
				,layer = layui.layer;
				laypage.render({
					elem: 'list-page'
					,count: $scope.total //数据总数
					,limit:	20
		      	    ,jump: function(obj,first){
						$scope.pageNum = obj.curr;
		      			$scope.pageSize = obj.limit;
			      		if(!first)//一定要加此判断，否则初始时会无限刷新
			      		{
			      			$scope.queryMenuPageList();
	                    }
		      	    }
				});
			});
		}
	 $scope.queryMenuPageList();
	 $scope.deleteMenu = function (id)
	 {
		 layer.confirm("确定要删除吗？",function(index){
			 Ajax.post({
		         url: getRoot+'/manager/delete/menu/record.ddxj',
		         data: {menuId:id},
		         async: true,
		         success: function(data) {
		             if(data.response == true)
		             {
						 layer.msg('已删除!',{icon: 6,time:1000});
		            	 $scope.queryMenuPageList();
		             }
		         }
		     }); 
		});
	 }
	 $scope.pushWechat = function ()
	 {
		 layer.confirm("确定要发布到公众号吗？",function(index){
			 Ajax.post({
		         url: getRoot+'/manager/push/custom/menu.ddxj',
		         async: true,
		         success: function(data) {
		             if(data.response == true)
		             {
		         		if(data.data.status == "1")
		         		{
		         			layer.msg("发布失败,一级菜单不能超过三个！",{icon: 6,time:1000});				
		         		}
		         		else if(data == "5")
		         		{
		         			layer.msg("发布自定义菜单失败,请重试或者检查菜单信息是否正确！",{icon: 6,time:1000});
		         		}
		         		else if(data.data.status == "0")
		         		{
		         			layer.msg("<b style='color:red;'>发布成功！</b><br>因微信客户端缓存原因，您可以尝试重新关注公众号，以便快速清除菜单缓存。",{icon: 6,time:1000});
		         		}
		             }
		         }
		     }); 
		});
	 }
	 $scope.openMenu = function(id)//打开添加窗口
	 {
		 $scope.menu = {};
		 $scope.queryMenuParent();
		 if(isNotNull(id))
		 {
			 Ajax.post({
		         url: getRoot+'/manager/query/weChatMenu/details.ddxj',
		         data: {menuId:id},
		         async: true,
		         success: function(data) {
		             if(data.response == true)
		             {
		            	 $scope.menu = data.data.wechatMenu;
		            	 if(isNotNull(data.data.wechatMenu.parentId))
	            		 {
		            		 $scope.parentType = 2;
	            		 }
		            	 $scope.$apply();
		             }
		         }
		     }); 
		 }
		 layer.open({
			    type: 1,
				title:id?'修改菜单':'添加菜单',
				area: ['50%','40%'],
				shadeClose: false,
				content: $('#add_menu'),
				
				});
	 }
	 //查询所有一级菜单
	 $scope.queryMenuParent = function()
	 {
		 Ajax.post({
	         url: getRoot+'/manager/query/parent/list.ddxj',
	         data: {},
	         async: true,
	         success: function(data) {
	             if(data.response == true)
	             {
	            	 $scope.menuParentList = data.data.menuParentList.list;
	            	 //console.log(data.data);
	            	 $scope.$apply();
	             }
	         }
	     }); 
	 }
	 $scope.updateMenu = function()//更新菜单
	 {
		var img = $("#replyImage").attr("src");
		if(!isNotNull(img) || img == "../../images/image.png")
		{
			$scope.menu.replyImage = "";
		}
		else
		{
			$scope.menu.replyImage = img;
		}
		 Ajax.post({
	         url: getRoot+'/manager/update/weChatMenu.ddxj',
	         data: $scope.menu,
	         async: true,
	         success: function(data) {
	             if(data.response == true)
	             {
	            	 layer.closeAll();
	            	 layer.msg(data.responseMsg);
	            	 $scope.queryMenuPageList();
	             }
	         }
	     }); 
		 
	 }
	 $scope.$watch("parentType",function(newValue,oldValue) 
	 {
		   	$scope.parentType = newValue;
		   	if($scope.parentType == 2)
		   	{
		   		$scope.twoMenu = true;
		   	}
		   	else
	   		{
	   			$scope.twoMenu = false;
	   		}
	});
	$scope.showBigImage = function(url){
		$scope.image = url;
		$("#show_credit_image").show();
	}
	
	$scope.hideBigImage = function(){
		$scope.image = "";
		$("#show_credit_image").hide();
	}
	
	$scope.randomMenuKey = function(){
		var text = "";
		var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
		for( var i=0; i < 16; i++ )
		{
			text += possible.charAt(Math.floor(Math.random() * possible.length));
		}
		$("#menuKey_id").val(text);
	}
});
$(function(){
	$("#Competence_sort").click(function(){
		var option=$(this).find("option:selected").text();
		var value=$(this).val();
		if(value==0){
			  
			$("#sample_table tbody tr").show()
			}
			else{
		$("#sample_table tbody tr").hide().filter(":contains('"+(option)+"')").show();	
			}
		}).click();	

});
/*******滚动条*******/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});
/****复选框选中******/
$('table th input:checkbox').on('click' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
						
});
</script>
