<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../css/shop.css" type="text/css" rel="stylesheet" />
<link href="../../css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link rel="stylesheet" href="../../css/layui.css"  media="all">
<link href="../../css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="../../font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<link href="../../css/common/common.css"  rel="stylesheet" type="text/css" />
<script src="../../js/common/common.js" type="text/javascript"></script>
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script src="../../js/shopFrame.js" type="text/javascript"></script>
<script src="../../js/Sellerber.js" type="text/javascript"></script>
<script src="../../js/angular.min.js" type="text/javascript"></script>
<script src="../../js/lay/layui.js" charset="utf-8"></script>
<script src="../../js/laydate/laydate.js" type="text/javascript"></script>
<title>图文素材列表</title>
</head>
<style>
#content_detail img
{
	max-width: 100%;
	max-height: 100%;
}
</style>
<body ng-app="news" ng-controller="newsView">
<div class="margin Competence_style" id="page_style">

<div  class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
	  <ul class="layui-tab-title">
	    <li><a href="wechatSetting.html">基本设置</a></li>
	    <li><a href="wechatUserList.html">用户管理</a></li>
	    <li class="layui-this"><a href="wechatNewsView.html">图文素材</a></li>
	    <li><a href="weChat_menu.html">自定义菜单</a></li>
	  </ul>
	  <div class="layui-tab-content">
	    	<div class="datalist_show">
				<div class="datatable_height confirm gallery">
					<table class="table table_list table_striped table-bordered " id="sample-table">
						<thead>
							<tr>
								<th width="40"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
								<th>素材mediaId</th>
								<th>标题</th>
								<th>摘要</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="newsList.length > 0 " ng-repeat="new in newsList track by $index">
								<td><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
								<td ng-bind="new.media_id"></td>
								<td ng-bind="new.title ? new.title : '暂无'"></td>
								<td ng-bind="new.digest ? new.digest : '暂无'"></td>
								<td class="td-manage">
									<a title="素材文章" ng-href="newsViewDetail.html?media_id={{new.media_id}}" href="javascript:;" class="btn button_btn btn-danger">素材文章</a>
								</td>
							</tr>
							<tr ng-if="newsList == null || newsList.length <= 0 ">
								<td class="center" colspan="20">暂无数据</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="list-page" class="clearfix col-xs-12 col-lg-12 align"></div>
	   </div>
</div>
</body>
</html>
<script>
var news = angular.module('news',[]);
news.controller('newsView',function($scope,$timeout)
{
	$scope.pageNum=1;
	$scope.pageSize=20;	
	$scope.queryWechatNewsViewList = function()//查询列表
	{
		layui.use(['layer'], function(){
		 var index =  layui.layer.load(3, {
			  shade: [0.1,'#888'] //0.1透明度的白色背景
			}); 
			Ajax.post({
				url: getRoot + '/query/news/view/list.ddxj',
				data: {currentPage:$scope.pageNum,pageSize:$scope.pageSize},
				async: true,
				success: function(data) {
					layer.close(index);
					if(data.response == true)
					{
						$scope.total = data.data.total;
						$scope.newsList = data.data.newsList;
						$scope.$apply();
						if(!$scope.initPageFlag)
						{
		               		$scope.initPage();
						}
					}
				}
			}); 
		}); 
	}
	$scope.initPage = function()
	{
		$scope.initPageFlag = true;
		layui.use(['laypage', 'layer'], function(){
			var laypage = layui.laypage
			,layer = layui.layer;
			laypage.render({
				elem: 'list-page'
				,count: $scope.total //数据总数
				,limit:	20
				,jump: function(obj,first)
				{
					$scope.pageNum = obj.curr;
					$scope.pageSize = obj.limit;
					if(!first)//一定要加此判断，否则初始时会无限刷新
					{
						$scope.queryWechatNewsViewList();
					}
	      	    }
			});
		});
	}
	$scope.queryWechatNewsViewList();
	
});

/*******滚动条*******/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});
/****复选框选中******/
$('table th input:checkbox').on('click' , function()
{
	var that = this;
	$(this).closest('table').find('tr > td:first-child input:checkbox')
	.each(function(){
		this.checked = that.checked;
		$(this).closest('tr').toggleClass('selected');
	});
						
});
</script>