<div class="cms-edit">
	<form action="${base}/app/menu/edit.htm"  method="post" id="app_menu_edit_form">
		<input type="hidden" name="id" value="${(appMenu.id)!""}" />
		<div  class="item clear" >
			<div class="title">
				推送端口：
			</div>
			<div class="content">
				<div class="cms-checkbox">
					<label class="el-radio">
						<input type="radio" name="type" id="typeEdit1" value="3" [#if appMenu.type??][#if appMenu.type == 3]checked[/#if][#else]checked[/#if]>
						<span class="el-radio-style  pull-left"></span>
						<span class="margin-l">通用</span>
					</label>
					<label class="el-radio">
						<input type="radio" name="type" id="typeEdit2" value="1" [#if appMenu.type?? && appMenu.type == 1]checked[/#if]>
						<span class="el-radio-style  pull-left"></span>
						<span class="margin-l">工人</span>
					</label>
					<label class="el-radio">
						<input type="radio" name="type" id="typeEdit3" value="2" [#if appMenu.type?? && appMenu.type == 2]checked[/#if]>
						<span class="el-radio-style  pull-left"></span>
						<span class="margin-l">工头</span>
					</label>
				</div>
			</div>	
		</div>
		<div id="content_uploadImage" class="item clear">
			<div class="title">
			上传图片：
			</div>
			<div class="content">
				<input type="hidden" id="logoEdit" name="logo" value="${(appMenu.logo)!""}"/>
				<iframe id="uploadFileFrame" class="fl" src="${base}/file/upload.htm?callback=creditLogoUpload_click" width="250" height="40" align="center,center" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
				<a class="galpop-single upload-image openImage" href="${appMenu.logo!""}">
					<img  src="${appMenu.logo!""}" width="100%" id="creditLogo_preview" height="100%"  [#if !appMenu?? || !appMenu.logo] style="display:none;"[/#if]/>
				</a>
			</div>
		</div>
		<div  class="item clear" >
			<div class="title">
				模块名称：
			</div>
			<div class="content input-field clearfix">
				<input type="text"  class="input textinput-main" id="titleEdit" name="title" isRequired="true" placeholder="请输入模块名称" value="${(appMenu.title)!""}" style="width: 300px;">
			</div>
		</div>
		<div  class="item clear" >
			<div class="title">
				模块内容：
			</div>
			<div class="content input-field clearfix">
				<input type="text"  class="input textinput-main" id="contentEdit" name="content" isRequired="true" placeholder="请输入模块内容" value="${(appMenu.content)!""}" style="width: 300px;">
			</div>
		</div>
		<div  class="item clear" >
			<div class="title">
				跳转链接：
			</div>
			<div class="content input-field clearfix">
				<input type="text"  class="input textinput-main" id="menuUrlEdit" name="menuUrl" isRequired="true" placeholder="请输入跳转链接" value="${(appMenu.menuUrl)!""}" style="width: 300px;">
			</div>
		</div>
		<div  class="item clear" >
			<div class="title">
				序号：
			</div>
			<div class="content input-field clearfix">
				<input type="text"  class="input textinput-main" id="numberEdit" fieldType="number" name="menuSort" isRequired="true" placeholder="请输入序号" value="${(appMenu.menuSort)!""}" style="width: 300px;" minValue="1">
			</div>
		</div>
		<div class="item clear">
			<div class="title">&nbsp;</div>
			<div class="content">
				<input type="submit" value="保存" class="btn btn-warning" />
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
$('#app_menu_edit_form').ajaxForm({
	beforeSubmit:function(){
		if($('#app_menu_edit_form').validate())
		{
			if(!isNotNull($("#logoEdit").val()))
			{
				alertTip("请上传图片",2);
				return false;
			}
			return true;
		}
		return false;
	},
	warningMessage:"正在保存,请稍后...",
	success:function(data){
		$.removeFormOverLay(data);
	},
	closeFormOverLayCallBack:function(data){
		 if(data.responseCode == 1036)
		 {
			 linkLogin();
		 }
		 else
		 {
			 TINY.box.show("保存成功！",0,0,0,0,2);
			 TB_remove();
			 queryAppMenuList(1);
		 }
	}
});
function creditLogoUpload_click(data)
{
	if(data == "start")
	{
		alyCms.base.showLoading("正在上传，请稍后。。。");
	}
	else if(data == "end")
	{
		alyCms.base.removeLoading();
	}
	else if(data == "99")
	{
		alertTip("上传的文件不能大于500KB！",2);
	}
	else if(data == "98")
	{
		alertTip("文件格式错误！",2);
	}
	else
	{
		alyCms.base.removeLoading();
		$("#logoEdit").val("${storageUrl}" + data);
		$("#creditLogo_preview").attr("src","${storageUrl}" + data).show();
		$("#creditLogo_preview").parent().attr("href","${storageUrl}" + data);
		removeErrorMessage("uploadFileFrame");
	}
}
$(function(){
	$('.openImage').galpop();
	$('#app_menu_edit_form').configValidate();
});
</script>