<div class="cms-edit">
	<form action="${base}/recruit/credit/org/edit.htm"  method="post" id="credit_org_edit_form">
		<input type="hidden" name="credit.id" value="${(credit.id)!""}" />
		<div  class="item clear" >
			<div class="title">
				机构名称：
			</div>
			<div class="content input-field clearfix">
				<input type="text"  class="input textinput-main" id="creditNameEdit" name="credit.creditName" isRequired="true" placeholder="必填，最大12个字符" value="${(credit.creditName)!""}" maxLength="12">
			</div>
		</div>
		<div  class="item clear" >
			<div class="title">
				机构代码：
			</div>
			<div class="content">
				<input type="text"  class="input textinput-main" id="creditCodeEdit"  placeholder="必填，最大12个字符" isRequired="true" name="credit.creditCode"   value="${(credit.creditCode)!""}" maxLength="12">
			</div>
		</div>
		<div class="item clear" >
				<div class="title">
				机构logo：
				</div>
				<div class="content">
					<input type="hidden" id="creditLogo" name="credit.creditLogo" value="${credit.creditLogo!""}"/>
					<iframe id="uploadFileFrame" class="fl" src="${base}/file/upload.htm?callback=creditLogoUpload_click" width="250" height="40" align="center,center" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
					<a class="galpop-single upload-image openImage" href="${credit.creditLogo!""}">
						<img  src="${credit.creditLogo!""}" width="100%" id="creditLogo_preview" height="100%"  [#if !credit?? || !credit.creditLogo] style="display:none;"[/#if]/>
					</a>
					
				</div>
		</div>
		<div  class="item clear" >
			<div class="title">
				机构简介：
			</div>
			<div class="content">
				<textarea class="form-control " rows="5" cols="30" id="creditDescEdit"  maxLength="256" name="credit.creditDesc"  placeholder="请输入机构简介">${(credit.creditDesc)!""}</textarea>
			</div>
		</div>
		<div  class="item clear" >
			<div class="title">
				机构地址：
			</div>
			<input type="text"  class="input textinput-main" id="creditAddressEdit"  placeholder="请输入机构地址" isRequired="true"  name="credit.creditAddress"  value="${(credit.creditAddress)!""}" maxLength="32" style="width: 300px;">
		</div>
		<div class="item clear">
			<div class="title">&nbsp;</div>
			<div class="content">
				<input type="submit" value="保存" class="btn btn-warning" />
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
$('#credit_org_edit_form').ajaxForm({
	beforeSubmit:function(){
		if($('#credit_org_edit_form').validate())
		{
			if(!isNotNull($("#creditLogo").val()))
			{
				alertTip("请上传图片",2);
				return false;
			}
			return true;
		}
		return false;
	},
	warningMessage:"正在保存,请稍后...",
	success:function(data){
		$.removeFormOverLay(data);
	},
	closeFormOverLayCallBack:function(data){
		 if(data.responseCode == 1036)
		 {
			 linkLogin();
		 }
		 else
		 {
			 TINY.box.show("保存成功！",0,0,0,0,2);
			 TB_remove();
			 queryCreditORGList(1);
		 }
	}
});
function creditLogoUpload_click(data)
{
	if(data == "start")
	{
		alyCms.base.showLoading("正在上传，请稍后。。。");
	}
	else if(data == "end")
	{
		alyCms.base.removeLoading();
	}
	else if(data == "99")
	{
		alertTip("上传的文件不能大于500KB！",2);
	}
	else if(data == "98")
	{
		alertTip("文件格式错误！",2);
	}
	else
	{
		alyCms.base.removeLoading();
		$("#creditLogo").val("${storageUrl}" + data);
		$("#creditLogo_preview").attr("src","${storageUrl}" + data).show();
		$("#creditLogo_preview").parent().attr("href","${storageUrl}" + data);
		removeErrorMessage("uploadFileFrame");
	}
}
$(function(){
	$('.openImage').galpop();
	$('#credit_org_edit_form').configValidate();
});
</script>