<div class="table-responsive  cms-table">
  <table class="table">
   	<tr>
   		<td class="cms-talbe-checkbox">
   			<div class="el-checkbox el-checkbox-green ">
				<input type="checkbox" name="check"  id="selectAllOrder" onclick="selectAllOrders('creditRecord')">
				<label class="el-checkbox-style" for="selectAllOrder"></label>
			</div>
   		</td>
   		<td>招聘标题</td>
   		<td>招聘人姓名</td>
   		<td>招聘人电话</td>
   		<td>授信机构</td>
   		<td>授信额度</td>
   		<td>可用额度</td>
   		<td>利率</td>
   		<td>审核原因</td>
   		<td>授信状态</td>
   		<td>创建时间</td>
   		<td>还款状态</td>
   		<td>操作</td>
   	</tr>
   	[#if creditRecordList?? && creditRecordList?size > 0]
	   	[#list creditRecordList as creditRecord]
	   	<tr class="pointer [#if creditRecord.creditStatus == '3']warning[/#if]">
	   		<td>
				<div class="el-checkbox el-checkbox-green">
					<input type="checkbox" name="creditRecord" id="${creditRecord.id}" >
					<label class="el-checkbox-style" for="${creditRecord.id}"></label>
				</div>
		   	</td>
		   	<td onclick="openCmsDetail('creditRecord_detail_${creditRecord.id}');">${creditRecord.recruit.recruitTitle!""}</td>
	   		<td onclick="openCmsDetail('creditRecord_detail_${creditRecord.id}');">${creditRecord.recruit.user.realName!""}</td>
	   		<td onclick="openCmsDetail('creditRecord_detail_${creditRecord.id}');">${creditRecord.recruit.user.phone!""}</td>
	   		<td onclick="openCmsDetail('creditRecord_detail_${creditRecord.id}');">${creditRecord.credit.creditName!""}</td>
	   		<td onclick="openCmsDetail('creditRecord_detail_${creditRecord.id}');">${(creditRecord.totalMoney?string('currency'))!"0.00"}</td>
	   		<td onclick="openCmsDetail('creditRecord_detail_${creditRecord.id}');">${(creditRecord.usableMoney?string('currency'))!"0.00"}</td>
	   		<td onclick="openCmsDetail('creditRecord_detail_${creditRecord.id}');">${creditRecord.interestRate!"0"}%</td>
	   		<td onclick="openCmsDetail('creditRecord_detail_${creditRecord.id}');">${creditRecord.validateCause!"无"}</td>
	   		<td onclick="openCmsDetail('creditRecord_detail_${creditRecord.id}');">
	   			[#if creditRecord.creditStatus == '1']
	   				<button type="button" class="btn btn-primary btn-xs">审核中</button>
	   			[#elseif creditRecord.creditStatus == '2']
	   				<button type="button" class="btn btn-success btn-xs">审核成功</button>
   				[#elseif creditRecord.creditStatus == '3']
   				<button type="button" class="btn btn-danger btn-xs">审核失败</button>
	   			[/#if]
	   		</td>
	   		<td onclick="openCmsDetail('creditRecord_detail_${creditRecord.id}');">${creditRecord.createTime?string("yyyy-MM-dd")!""}</td>
	   		<td onclick="openCmsDetail('creditRecord_detail_${creditRecord.id}');">
	   			[#if creditRecord.creditStatus == '2']
		   			[#if creditRecord.creditRepayment.type == '0' ||creditRecord.creditRepayment.type=='']
		   				<button type="button" class="btn btn-info btn-xs">未还款</button>
		   			[#elseif creditRecord.creditRepayment.type == 2]
		   				<button type="button" class="btn btn-success btn-xs">已还款</button>
		   			[/#if]
		   		[#elseif creditRecord.creditStatus == '3']
		   			<button type="button" class="btn btn-primary btn-xs">无需还款</button>
	   			[#elseif creditRecord.creditStatus == '1']
	   			<button type="button" class="btn btn-default btn-xs">待审核</button>
		   		[/#if]
	   		</td>
	   		<td>
	   		[@shiro.hasPermission name="system:creditRecord:manager:group"]
		 		<div class="btn-group"> 
		   			<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">管理 <span class="caret"></span></button> 
		   			<ul class="dropdown-menu" role="menu">
		   				[#if creditRecord.creditStatus==1]
				   			[@shiro.hasPermission name="system:creditRecord:validate"]
					   			<li>
					   				<!-- <a onclick="updateRealAuthTrue(${creditRecord.id},1)">审核成功</a> -->
					   				<a  data-toggle="modal" data-target="#auditTrue" data-id="${creditRecord.id}">审核成功</a>
					   				
					   			</li>
					   			<li class="divider"></li>
					   			<li>
					   				<!-- <a onclick="updateRealAuthFalse(${creditRecord.id},2)">审核失败</a> -->
					   				<a  data-toggle="modal" data-target="#auditFail" data-id="${creditRecord.id}">审核失败</a>
					   				
					   			</li>
					   			<li class="divider"></li>
					   		[/@shiro.hasPermission]
				   		[#elseif creditRecord.creditStatus==2]
				   			[#if creditRecord.creditRepayment.type == '0' ||creditRecord.creditRepayment.type=='']
					   			[@shiro.hasPermission name="system:creditRecord:repayment"]
						   			<li>
						   				<a onclick="creditRepayment(${creditRecord.id})">授信还款</a>
						   			</li>
						   			<li class="divider"></li>
						   		[/@shiro.hasPermission]
					   		[/#if]
				   		[/#if]
				   		[@shiro.hasPermission name="system:creditRecord:delete"]
				   			<li>
				   				<a onclick="confirmDeleteRecord(${creditRecord.id})">删除</a>
				   			</li>
			   			[/@shiro.hasPermission]
		   			</ul>
		  		</div>
		  	[/@shiro.hasPermission]
	   		</td>
	   	</tr>
	   	<tr id="creditRecord_detail_${creditRecord.id}" class="cms_list_detail none" item="detail">
	   	<td></td>
			<td colspan="14" tdType="orderItemDetail">
				<table class="table table-hover table-striped table-bordered draggable sortable order_item_detail">
					<tbody>
						<tr>
							<td class="firstTd">招聘标题：</td>
							<td class="font_red">${creditRecord.recruit.recruitTitle!""}</td>
						</tr>
						<tr>
							<td class="firstTd">招聘人姓名：</td>
							<td >${creditRecord.recruit.user.realName!""}</td>
						</tr>
						<tr>
							<td class="firstTd">招聘人电话：</td>
							<td >${creditRecord.recruit.user.phone!""}</td>
						</tr>
						<tr>
							<td class="firstTd">机构代码：</td>
							<td >${creditRecord.credit.creditCode!""}</td>
						</tr>
						<tr>
							<td class="firstTd">机构地址：</td>
							<td >${creditRecord.credit.creditAddress!""}</td>
						</tr>
						<tr>
							<td class="firstTd">机构名称：</td>
							<td >${creditRecord.credit.creditName!""}</td>
						</tr>
						[#if creditRecord.creditStatus==2]
						<tr>
							<td class="firstTd">授信额度：</td>
							<td >${creditRecord.totalMoney?string('currency')!""}</td>
						</tr>
						<tr>
							<td class="firstTd">授信可用额度：</td>
							<td >${creditRecord.usableMoney?string('currency')!""}</td>
						</tr>
						<tr>
							<td class="firstTd">利率：</td>
							<td >${creditRecord.interestRate!"0"}%</td>
						</tr>
						[/#if]
						[#if creditRecord.creditStatus==3]
							<tr>
								<td class="firstTd">审核失败原因：</td>
								<td >${creditRecord.validateCause!""}</td>
							</tr>
						[/#if]
						[#if creditRecord.creditUrgentContactsList?? && creditRecord.creditUrgentContactsList?size > 0]
							[#list creditRecord.creditUrgentContactsList as urgent]
								<tr>
								<td class="firstTd">紧急联系人姓名${urgent_index + 1}：</td>
								<td >${urgent.contactsName!""}</td>
							</tr>
							<tr>
								<td class="firstTd">紧急联系人电话${urgent_index + 1}：</td>
								<td >${urgent.contactsPhone!""}</td>
							</tr>
							<tr>
								<td class="firstTd">紧急联系人关系${urgent_index + 1}：</td>
								<td >${urgent.contactsRelation!""}</td>
							</tr>
							[/#list]
						[/#if]
							<tr>
								<td class="firstTd">合同图片：</td>
								<td>
						   		[#if creditRecord.creditContactsImageList?? && creditRecord.creditContactsImageList?size > 0]
							   		[#list creditRecord.creditContactsImageList as image]
							   			<a class="galpop-multiple label label-default [#if image_index != 0]none[/#if]"  data-galpop-group="credit_image_${creditRecord.id}"  href="${image.contractImage!''}">查看图片</a>
							   		[/#list]
							   	[#else]
							   		暂无图片
						   		[/#if]
				   				</td>
							</tr>
			   			<tr>
							<td class="firstTd">审核状态：</td>
							<td>
					   			[#if creditRecord.creditStatus == '1']
					   				<button type="button" class="btn btn-primary btn-xs">审核中</button>
					   			[#elseif creditRecord.creditStatus == '2']
					   				<button type="button" class="btn btn-success btn-xs">审核成功</button>
				   				[#elseif creditRecord.creditStatus == '3']
				   				<button type="button" class="btn btn-danger btn-xs">审核失败</button>
					   			[/#if]
					   		</td>
						</tr>
						<tr>
							<td class="firstTd">还款状态：</td>
							<td>
					   			[#if creditRecord.creditStatus == '2']
						   			[#if creditRecord.creditRepayment.type == 0 ||creditRecord.creditRepayment.type=='']
						   				<button type="button" class="btn btn-info btn-xs">未还款</button>
						   			[#elseif creditRecord.creditRepayment.type == 2]
						   				<button type="button" class="btn btn-success btn-xs">已还款</button>
						   			[/#if]
						   		[#else]
						   			<button type="button" class="btn btn-primary btn-xs">待审核</button>
						   		[/#if]
					   		</td>
						</tr>
						[#if creditRecord.type != 0]
						<tr>
							<td class="firstTd">还款时间：</td>
								[#if creditRecord.creditRepayment.type == 2]
									<td>
							   			${creditRecord.creditRepayment.createTime?string("yyyy-MM-dd HH:mm:ss")}
							   		</td>
						   		[#elseif creditRecord.creditRepayment.type == 0 ||creditRecord.creditRepayment.type=='']
							   		<td>
							   			无
							   		</td>
						   		[/#if]
						</tr>
				   		[/#if]
						<tr>
							<td class="firstTd">创建时间：</td>
							<td>
					   			${creditRecord.createTime?string("yyyy-MM-dd HH:mm:ss")}
					   		</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	   	[/#list]
	[#else]
	  	<tr>
	   		<td colspan="13" class="center">暂无数据 <b class="red">&nbsp;&nbsp;提示：请确认您的查询条件是否正确，或者减少一些筛选条件</b></td>
	   	</tr>
   	[/#if]
  </table>
</div>
<script>
var page = "${currentPage}" * 1;
$("#currentPageNumber").text(page);
$("#currentTotalCount").text("${currentTotalCount!'0'}");
if(!isInitPage)
{
	window.parent.initCmsPagehelp(${currentTotalCount!'0'},function(response, pagination){
		if(isInitPage)
		{
			queryCreditRecordList(pagination.pageNumber);
		}
	});
}
$('.galpop-multiple').galpop();
</script>