<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../css/shop.css" type="text/css" rel="stylesheet" />
<link href="../../css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="../../css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="../../css/chosen.css" type="text/css"  rel="stylesheet" />
<link href="../../font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script src="../../js/Sellerber.js" type="text/javascript"></script>
<script src="../../js/city_data.js" type="text/javascript"></script>
<script src="../../js/common/common.js" type="text/javascript"></script>
<script src="../../js/hsCheckData.js" type="text/javascript"></script>
<script src="../../js/angular.min.js" type="text/javascript"></script>
<script src="../../js/lay/layui.js" charset="utf-8"></script>
<script src="../../js/laydate/laydate.js" type="text/javascript"></script>
<script src="../../js/chosen.jquery.js" type="text/javascript"></script>
<title>添加产品</title>
</head>
<body>
<div class="margin inside_pages clearfix" ng-app="recruitEdit" ng-controller="recruitManager">
	<div class="add_style clearfix relative">
		<ul>
			<li class="clearfix">
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>招聘标题：&nbsp;&nbsp;
					</label>
					<div class="Add_content col-xs-9">
						<input type="text" placeholder="请输入招聘标题" ng-model="recruit.recruitTitle" class="col-xs-12"/>
					</div>
				</div>
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>招聘详细地址：&nbsp;&nbsp;
					</label>
					<div class="Add_content col-xs-9">
						<input type="text" placeholder="请输入详细地址" ng-model="recruit.recruitAddress" class="col-xs-12"/>
					</div>
				</div>
			</li>
			<li class="clearfix">
				<label class="label_name col-xs-1"><i>*</i>招聘内容：&nbsp;&nbsp;</label>
				<div class="Add_content col-xs-11">
					<input type="text" placeholder="请输入招聘内容" ng-model="recruit.recruitContent" class="col-xs-6"/>
				</div>
			</li>
			<li class="clearfix">
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>工期开始时间：&nbsp;&nbsp;</label> 
					<div class="Add_content col-xs-9">
						<input class="laydate-icon col-xs-4 col-lg-3" id="start" ng-model="recruit.startTime" style="min-width: 170px;margin-right:10px; height:28px; line-height:28px; float:left">
					</div>   
				</div>
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>工期结束时间：&nbsp;&nbsp;</label> 
					<div class="Add_content col-xs-9">
						<input class="laydate-icon col-xs-4 col-lg-3" id="end" ng-model="recruit.endTime" style="min-width: 170px;height:28px; line-height:28px; float:left">
					</div>   
				</div>
			</li>
   			<li class="clearfix">
   				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>户口所在地：&nbsp;&nbsp;</label> 
					<div class="Add_content col-xs-9">
						<span class="add_name">
			     			<select ng-model="recruit.recruitProvince" ng-options="s.value as s.value for s in provinceList" ng-change="recruitProvince()" >
			               		<option value="">请选择省</option>
			       			</select>
				       		<select ng-model="recruit.recruitCity" ng-options="sh.value as sh.value for sh in recruitCityList" ng-change="recruitCity()" >
				               	<option value="">请选择市</option>
			      			</select>
				       		<select ng-model="recruit.recruitArea" ng-options="x.value as x.value for x in recruitAreaList" >
				               	<option value="">请选择区</option>
				       		</select>
						</span>
					</div>   
				</div>
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>工种：&nbsp;&nbsp;</label> 
					<div class="Add_content col-xs-9">
						<span class="add_name">
							<select class="select Competence_sort" data-placeholder="请选择工种" multiple id="user_category"  name="admin-role" size="1"  style="width:170px;">
							</select>
						</span>
					</div>
				</div>
   			</li>
			<li class="clearfix">
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>招聘人数：&nbsp;&nbsp;</label>
					<div class="Add_content col-xs-9">
						<input type="text" placeholder="请输入招聘人数" ng-model="recruit.recruitPerson" class="col-xs-6"/>
					</div>
				</div>
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>承包方：&nbsp;&nbsp;</label>
					<div class="Add_content col-xs-9">
						<input type="text" placeholder="请输入承包方" ng-model="recruit.contractor" class="col-xs-6"/>
					</div>
				</div>
			</li>
			<li class="clearfix">
				<label class="label_name col-xs-1"><i>*</i>封面图片：&nbsp;&nbsp;</label>
				<span class="cont_style col-xs-9">
					<div id="preview" class="preview_img">
						<img ng-src="{{recruit.coverImage}}" ng-model="recruit.coverImage" id="imageFile" border="0" src="../../images/image.png" />
					</div>
					<div class="fileInput ">
						<input type="file" onchange="uploadImg(this)" name="upfile" id="upfile" class="upFileBtn"/>
			        </div>
				</span>
			</li>
     		<li class="clearfix"><label class="label_name col-xs-1"><i>*</i>结算方式：&nbsp;&nbsp;</label>
   				<div class="Add_content col-xs-11">
   					<span class="add_name">
		     			<select id="balanceWay_id" ng-model="recruit.balanceWay" ng-init="recruit.balanceWay=settlementList[0].value" ng-options="role.value as role.name for role in settlementList">
		               		<option value="">请选择结算方式</option>
		       			</select>
					</span>
   				</div>
     		</li>
   			<li class="clearfix">
   				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>开始金额：&nbsp;&nbsp;</label> 
					<div class="Add_content col-xs-9">
						<input name="" type="text" class="col-xs-4" placeholder="请输入开始金额" ng-model="recruit.startPrice" style="width:210px;"/>
					</div>   
				</div>
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>结束金额：&nbsp;&nbsp;</label> 
					<div class="Add_content col-xs-9">
						￥<input name="" type="text" class="col-xs-4" placeholder="请输入结束金额" ng-model="recruit.endPrice" style="width:210px;"/>
					</div>   
				</div>
   			</li>
			<li class="clearfix">
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>招聘截止时间：&nbsp;&nbsp;</label> 
					<div class="Add_content col-xs-9">
						<input class="laydate-icon col-xs-4 col-lg-3" id="stop" ng-model="recruit.stopTime" style="min-width: 170px;margin-right:10px; height:28px; line-height:28px; float:left">
					</div>   
				</div>
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>是否置顶：&nbsp;&nbsp;</label>
					<div class="Add_content col-xs-9">
						<label><input type="radio" name="checkbox" ng-checked="stick == 1 ? true:false" id="stick1" class="ace"><span class="lbl">是</span></label>
						<label><input type="radio" name="checkbox" ng-checked="stick == 2 ? true:false" id="stick2" class="ace"><span class="lbl">否</span></label>
					</div>
				</div>
			</li>
		</ul>
		<div class="Button_operation btn_width">
			<button class="btn button_btn bg-deep-blue" type="button" ng-click="submitRecruit()">保存并提交</button>
			<button class="btn button_btn bg-gray" type="button" onclick="window.location.href='recruit_list.html'">取消操作</button>
		</div>
	</div>
</div>
</body>
</html>
<script>

/******时间设置*******/
var start = 
{
	elem: '#start',
	format: 'YYYY-MM-DD hh:mm:ss',
	min: laydate.now(), //设定最小日期为当前日期
	max: '2099-06-16 23:59:59', //最大日期
	istime: true,
	istoday: false,
	choose: function(datas)
	{
		end.min = datas; //开始日选好后，重置结束日的最小日期
		end.start = datas //将结束日的初始值设定为开始日
	}
};
var end = 
{
	elem: '#end',
	format: 'YYYY-MM-DD hh:mm:ss',
    min: laydate.now(),
    max: '2099-06-16 23:59:59',
    istime: true,
    istoday: false,
    choose: function(datas)
    {
		start.max = datas; //结束日选好后，重置开始日的最大日期
    }
};
var stop = 
{
	elem: '#stop',
	format: 'YYYY-MM-DD hh:mm:ss',
    min: laydate.now(),
    max: '2099-06-16 23:59:59',
    istime: true,
    istoday: false,
    choose: function(datas)
    {
    	stop.max = datas; //结束日选好后，重置开始日的最大日期
    }
};
laydate(start);
laydate(end);
laydate(stop);

var recruitId = urlParam("recruitId");
var recruitEdit = angular.module('recruitEdit', []);
recruitEdit.controller('recruitManager', function($scope,$timeout) 
{
	layui.use(['layer'], function(){}); 
	
	$scope.provinceList = cityData;
	$scope.settlementList = [{
		name:'平方',
		value:'平方'
	},{
		name:'米',
		value:'米'
	},{
		name:'天',
		value:'天'
	},{
		name:'时',
		value:'时'
	}]
	$scope.recruit = "";
	$scope.stick = 1;
	
	$scope.recruitProvince = function () 
	{
		$scope.recruitCityList = "";
		$scope.recruitAreaList = "";
		for(var c = 0;c<cityData.length;c++)
		{
			if($scope.recruit.recruitProvince == cityData[c].value)
			{
				$scope.recruitCityList = cityData[c].childs;
				break ;
			}
		}
	};
	    
	$scope.recruitCity = function () 
	{
	   	$scope.recruit.recruitArea = "";
   		for(var c = 0;c<$scope.recruitCityList.length;c++)
		{
			if($scope.recruit.recruitCity == $scope.recruitCityList[c].value)
			{
				$scope.recruitAreaList = $scope.recruitCityList[c].childs;
				break ;
			}
		}
	};
	
	$scope.recruitDetail = function()//查询招聘详情
	{
		//$scope.queryCategoryParent();
		if(isNotNull(recruitId))
		{
			Ajax.post({
				url: getRoot+'/manager/recruit/detail.ddxj',
				data: {recruitId:recruitId},
		        async: true,
		        success: function(data) {
		    		if(data.response == true)
	    			{
						$scope.recruit = data.data.recruit;
						/**************************遍历户口所在地省**************************/
						if(isNotNull(data.data.recruit.recruitProvince))//如果户口所在地省不为空
						{
							for(var c = 0;c<cityData.length;c++)
							{
			           			 if($scope.recruit.recruitProvince == cityData[c].value)
			           		     {
			           				 $scope.recruitCityList = cityData[c].childs;//取出省中的市
			           				 break ;
			           		     }
			           		}
		               		if(isNotNull(data.data.recruit.recruitCity))//如果市不为空
		               		{
		               			for(var d = 0;d<$scope.recruitCityList.length;d++)
				           		{
				           			 if($scope.recruit.recruitCity == $scope.recruitCityList[d].value)
				           		     {
				           				 $scope.recruitAreaList = $scope.recruitCityList[d].childs;//取出市中的区
				           				 break ;
				           		     }
				           		}
		               		}
						}
						$scope.recruit.startTime = timeInMillisToformat(data.data.recruit.startTime.time);
	               		$scope.recruit.endTime = timeInMillisToformat(data.data.recruit.endTime.time);
	               		$scope.recruit.stopTime = timeInMillisToformat(data.data.recruit.stopTime.time);
	               		$scope.stick = data.data.recruit.stick;
	               		
	               		/**********************************查找工种*************************************/
						$("#user_category option").remove();
		        		$("#user_category option").removeAttr("selected");
		            	$scope.queryCategoryType(data.data.recruit.categoryList);
						$scope.$apply();
	         		}
         		}
			}); 
		}
	}
	$scope.recruitDetail();
	
	$scope.queryCategoryType = function(categoryList)//根据角色查询角工种
	{
		Ajax.post({
			url: getRoot+'/member/query/worker/type.ddxj',
			data: {categoryType:2},
			async: true,
			success: function(data) {
				if(data.response == true)
				{
					var categoryListData = data.data.categoryList;
					$("#user_category").empty();
					for(var d = 0;d<categoryListData.length;d++)
					{
						$("#user_category").append("<option value='"+categoryListData[d].id+"'>"+categoryListData[d].categoryName+"</option>")
					}
					$("#user_category").chosen({
						allow_single_deselect: true,  //是否允许取消选择
						max_selected_options:3, //最大选择数
						disable_search:false
					});
					if(isNotNull(categoryList) && categoryList.length > 0)
					{
						for(var f = 0;f<categoryList.length;f++)
						{
							$("#user_category option[value='"+categoryList[f].id+"']").prop("selected",true);
						}
					}
					$("#user_category").trigger("chosen:updated");
	             }
	         }
		});
	}
	
	$scope.validateUpdateUser = function()
	{
		$scope.submitData = {};
		var recruit = $scope.recruit;
		if(isNotNull(recruit.id))
		{
			$scope.submitData.recruitId =  recruit.id;
		}
		if(isNotNull(recruit.userId))
		{
			$scope.submitData.userId = recruit.userId;
		}
		$scope.submitData.recruitTitle =  recruit.recruitTitle;
		$scope.submitData.recruitContent = recruit.recruitContent;
		$scope.submitData.recruitProvince = recruit.recruitProvince;
		$scope.submitData.recruitCity = recruit.recruitCity;
		$scope.submitData.recruitArea = recruit.recruitArea;
		$scope.submitData.recruitAddress = recruit.recruitAddress;
		$scope.submitData.recruitPerson = recruit.recruitPerson;
		$scope.submitData.contractor = recruit.contractor;
		$scope.submitData.coverImage = $("#imageFile").attr("src");
		$scope.submitData.startPrice = recruit.startPrice;
		$scope.submitData.endPrice = recruit.endPrice;
		$scope.submitData.balanceWay = recruit.balanceWay;
		$scope.submitData.stopTime = recruit.stopTime; 
		
		if($("#stick1").is(":checked"))
		{
			$scope.submitData.stick = 1;
		}
		else if($("#stick2").is(":checked"))
		{
			$scope.submitData.stick = 2;
		}
		
		if(!isNotNull(recruit.recruitTitle))
		{
			layer.msg("请输入招聘标题！");
			return false;
		}
		
		if(!isNotNull(recruit.recruitAddress))
		{
			layer.msg("请输入招聘详细地址！");
			return false;
		}
		
		if(!isNotNull(recruit.recruitContent))
		{
			layer.msg("请输入招聘内容！");
			return false;
		}
		
		if(!isNotNull($("#start").val()))
		{
			layer.msg("请选择工期开始时间！");
			return false;
		}
		else
		{
			$scope.submitData.startTime = $("#start").val();
		}
		
		if(!isNotNull($("#end").val()))
		{
			layer.msg("请选择工期结束时间！");
			return false;
		}
		else
		{
			$scope.submitData.endTime = $("#end").val();
		}
		
		if(!isNotNull(recruit.recruitProvince))
		{
			layer.msg("请选择户口所在地（省）！");
			return false;
		}
		
		if(!isNotNull(recruit.recruitCity))
		{
			layer.msg("请选择户口所在地（市）！");
			return false;
		}
		
		if(!isNotNull(recruit.recruitArea))
		{
			layer.msg("请选择户口所在地（区）！");
			return false;
		}
		
		var categorysList = $("#user_category").val();
		if(categorysList == null || categorysList.length <= 0)
		{
			layer.msg("请选择工种");
			return false;
		}
		else
		{
			var categorys = "";
			for(var d = 0;d<categorysList.length;d++)
			{
				categorys +=categorysList[d]+",";
			}
			$scope.submitData.categorys = categorys.substring(0,categorys.length -1);
		}
		
		if(!isNotNull(recruit.recruitPerson))
		{
			layer.msg("请输入招聘人数！");
			return false;
		}
		
		if(!isNotNull(recruit.contractor))
		{
			layer.msg("请输入承包方！");
			return false;
		}
		
		var balanceWay = $("#balanceWay_id").val();
		if(balanceWay.length <= 0)
		{
			layer.msg("请选择工资结算方式");
			return false;
		}
		
		if(!isNotNull(recruit.startPrice))
		{
			layer.msg("请输入开始金额！");
			return false;
		}
		
		if(!isNotNull(recruit.endPrice))
		{
			layer.msg("请输入结束金额！");
			return false;
		}
		
		if(!isNotNull($("#stop").val()))
		{
			layer.msg("请选择招聘截止时间！");
			return false;
		}
		else
		{
			$scope.submitData.stopTime = $("#stop").val();
		}
		
		return true;
	}
	
	$scope.submitRecruit = function()
	{
		if($scope.validateUpdateUser())
		{
			Ajax.post({
				url: getRoot+'/manager/recruit/update.ddxj',
				data: $scope.submitData,
				async: true,
				success: function(data) 
				{
					if(data.response)
					{
						layer.closeAll();
						layer.msg(data.responseMsg);
						
						setTimeout(function(){
							window.location.href = "recruit_list.html";
						},1500);
					}
				}
			})
		}
	}
});
/****复选框选中******/
$('table th input:checkbox').on('click' , function(){
	var that = this;
	$(this).closest('table').find('tr > td:first-child input:checkbox')
	.each(function(){
		this.checked = that.checked;
		$(this).closest('tr').toggleClass('selected');
	});
});
/*********滚动事件*********/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});

function uploadImg(event)
{
	layui.use(['layer'], function(){
		var img = uploadImageTOQN(event);
		$("#imageFile").attr("src",img);
	})
}
</script>
