[#assign title="点点小匠-转账记录列表"]
[#include "/common/cms_header.html"]
<link rel="stylesheet" href="[@resUrl /]/assets/cms/css/common/jquery.galpop.css?[@cmsVersion /]">
<link rel="stylesheet" href="[@resUrl /]/assets/cms/css/common/chosen.css?[@cmsVersion /]">
<script src="[@resUrl /]/assets/cms/js/common/WdatePicker.js?[@cmsVersion /]"></script>
<script src="[@resUrl /]/assets/cms/js/common/jquery.galpop.min.js?[@cmsVersion /]"></script>
<script src="[@resUrl /]/assets/cms/js/common/city_data.js?[@cmsVersion /]"></script>
<script src="[@resUrl /]/assets/cms/js/common/chosen.jquery.js?[@cmsVersion /]"></script>
<div class="cms-content" id="transferList">
	<div class="alert alert-warning" >注：查询所有转账信息，点击列表可展开详情</div>
	<form method="post" id="transfer_list_form" action="${base}/customer/transfer/list.htm">
		<input id="currentPage" type="hidden" name="currentPage"/>
		<div class="cms-search">
			<div class="search-item">
			  <label  class="search-title">订单号：</label >
			  <input type="text" name="orderNo" id="orderNo" placeholder="订单号"   class="form-control search-input"  autocomplete="off"> 
		  	</div>
			<div class="search-item">
			  <label  class="search-title">用户名：</label >
			  <input type="text" name="userName" id="userName" maxLength="5" placeholder="用户名"   class="form-control search-input"  autocomplete="off"> 
		  	</div>
		  	<div class="search-item">
			  <label  class="search-title">电话：</label >
			  <input type="text" name="phone" id="phone" placeholder="用户号码" maxLength="11" minLength="11"   class="form-control search-input"  autocomplete="off"> 
		  	</div>
		  	<div class="search-item">
			  	<label class="search-title">转账方式：</label>
			    <select class="form-control" id="transferWay" name="transferWay" >
					<option  value="">全部</option>
					<option value="1">授信支付</option>
					<option value="2">余额支付</option>
					<option value="3">银行卡</option>
				</select>
		  	</div>
		  	<div class="search-item">
			  	<label class="search-title">转账类型：</label>
			    <select class="form-control" id="transferType" name="transferType" >
					<option  value="">全部</option>
					<option value="1">转账</option>
					<option value="2">结算</option>
					<option value="3">充值</option>
					<option value="4">提现</option>
					<option value="5">系统发放</option>
				</select>
		  	</div>
		  	<div class="search-item">
			  <label  class="search-title">交易时间：</label >
			  <input type="text" name="startTime" id="startTime" class="form-control search-input"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',errDealMode:1})" 
								placeholder="开始时间" autocomplete="off" >&nbsp;至&nbsp;
			  <input type="text" name="endTime" id="endTime" class="form-control search-input"  onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',errDealMode:1})" 
								placeholder="结束时间" autocomplete="off" > 
		  	</div>
		  <div class="search-button">
		     <button type="submit" class="btn btn-warning">查询</button>
		  </div>
	</div>
	</form>
	<div class="cms-table-tpl">
		[#include "/fund/transfer_list_tpl.html"]
	</div>
	[#include "/common/cms_page.html"]
</div>
<script type="text/javascript">
$('#transfer_list_form').ajaxForm({
	beforeSubmit:function(){
			
		return true;
	},
	warningMessage:"正在查询,请稍后...",
	success:function(data){
		$.removeFormOverLay(data);
	},
	closeFormOverLayCallBack:function(data){
		 $(".cms-table-tpl").html(data);
	}
});
function queryTransferList(page)
{
	$("#currentPage").val(page);
	$('#transfer_list_form').submit();
}
queryTransferList(1);
</script>
[#include "/common/cms_footer.html"]