<div class="cms-edit">
	<form action="${base}/cms/user/changepwd.htm" method="post" id="cms_user_password_form">
		<input type="hidden" id="userId" name="userId" value="${userId!0}" />
		<div  class="item clear" style="height:50px;">
			<div class="title">新密码：</div>
			<div class="content">
				<input type="password" value="" id="newPassword" name="newPassword" class="input textinput-main" minLength="6"  placeholder="请输入新密码" required autocomplete="off" >
			</div>
		</div>
		<div class="item clear">
			<div class="title">&nbsp;</div>
			<div class="content">
				<input type="submit" value="保存" class="btn btn-warning" />
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">

$('#cms_user_password_form').ajaxForm({
	beforeSubmit:function(){
		return true;
	},
	warningMessage:"正在保存,请稍后...",
	success:function(data){
		$.removeFormOverLay(data);
	},
	closeFormOverLayCallBack:function(data){
		 if(data.responseCode == 1036)
		 {
			 linkLogin();
		 }
		 else
		 {
			 TINY.box.show("保存成功！",0,0,0,0,2);
			 TB_remove();
 			 $('#cms_user_form').submit();
		 }
	}
});
</script>
