<script src="[@resUrl /]/assets/cms/js/common/jquery-2.2.3.min.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/nav.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/template.min.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/modernizr.min.js?[@cmsVersion /]"></script>
<script src="[@resUrl /]/assets/cms/js/common/bootstrap.min.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/jquery.charfirst.pinyin.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/constant.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/base.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/alertText.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/cmsGlobal.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/jquery.form.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/cmsTipDialog.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/tinybox.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/thickbox_plus.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/cookie.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/jquery.pagination.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/dateUtils.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/common.js?v=[@cmsVersion /]" type="text/javascript"></script>
<script src="[@resUrl /]/assets/cms/js/common/cms_service.js?v=[@cmsVersion /]" type="text/javascript"></script>