<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="../../css/layui.css"  media="all">
<link href="../../css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="../../font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script src="../../js/angular.min.js" type="text/javascript"></script>
<script src="../../js/lay/layui.js" charset="utf-8"></script>
<script src="../../js/common/common.js" type="text/javascript" />
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script src="../../js/shopFrame.js" type="text/javascript"></script>
<script src="../../js/Sellerber.js" type="text/javascript"></script>
<script src="../../js/common/initUtils.js" type="text/javascript"></script>
<title>角色管理列表</title>
</head>
<body ng-app="manager" ng-controller="messageManager">

<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
  <ul class="layui-tab-title">
    <li class="layui-this">未读消息</li>
    <li>已读消息</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
		<div class="margin Competence_style" id="page_style">
		<div class="compete_list" >
		       <table id="sample_table" class="table table_list table_striped table-bordered dataTable no-footer">
				 <thead>
					<tr>
					  <th>消息标题</th>
					  <th>消息类型</th>
					  <th>消息内容</th>
		              <th>消息参数</th>
		              <th>状态</th>
		              <th>创建时间</th>
		              <th>操作</th>
		             </tr>
				    </thead>
		             <tbody>
					  <tr ng-if="unreadMessageList.length > 0 " ng-repeat="message in unreadMessageList track by $index">
						<td ng-bind="message.messageTitle"></td>
		                <td ng-bind="message.messageType | messageType"></td>
						<td ng-bind="message.messageContent"></td>
						<td ng-bind="message.messageParameter?message.messageParameter:'暂无'"></td>
		                <td>未读</td>
		                <td ng-bind="message.createTime.time | date:'yyyy年MM月dd日'"></td>
		                <td class="td-manage">
		                 	<a title="标记已读"  href="javascript:;" ng-click="signMessageRead(message.id)" class="btn button_btn btn-danger">标记已读</a>
						</td>
					   </tr>
					   <tr ng-if="unreadMessageList.length == 0 ">
					   	<td class="center" colspan="7">暂无数据</td>
					   </tr>
				      </tbody>
			        </table>
		     </div>
		  <div id="messageUnread" class="clearfix col-xs-12 col-lg-12 align"></div>
		</div>
    </div>
    <div class="layui-tab-item">
    	<div class="margin Competence_style" id="page_style">
		<div class="compete_list" >
		       <table id="sample_table" class="table table_list table_striped table-bordered dataTable no-footer">
				 <thead>
					<tr>
					  <th class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
					  <th>消息标题</th>
					  <th>消息类型</th>
					  <th>消息内容</th>
		              <th>消息参数</th>
		              <th>状态</th>
		              <th>创建时间</th>
		             </tr>
				    </thead>
		             <tbody>
					  <tr ng-if="readMessageList.length > 0 " ng-repeat="message in readMessageList track by $index">
						<td class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
						<td ng-bind="message.messageTitle"></td>
		                <td ng-bind="message.messageType | messageType"></td>
						<td ng-bind="message.messageContent"></td>
						<td ng-bind="message.messageParameter?message.messageParameter:'暂无'"></td>
						<td>已读</td>
		                <td ng-bind="message.createTime.time | date:'yyyy年MM月dd日'"></td>
					   </tr>
					   <tr ng-if="readMessageList.length == 0 ">
					   	<td class="center" colspan="7">暂无数据</td>
					   </tr>
				      </tbody>
			        </table>
		     </div>
		  <div id="messageRead" class="clearfix col-xs-12 col-lg-12 align"></div>
		</div>
    </div>
  </div>
</div> 
</body>
</html>
<script>
var messageManager = angular.module('manager', []);
var userName = localStorage.getItem("userName");
messageManager.filter("messageType",function(){
	return function(val){
		var status = "";
		if(val == 1)
		{
			status = "发布审核";
		}
		else if(val == 2)
		{
			status = "实名认证";
		}
		else if(val == 3)
		{
			status = "提现通知";
		}
		else if(val == 4)
		{
			status = "申请工头";
		}
		else if(val == 5)
		{
			status = "招聘项目";
		}
		return status;
	}
})
messageManager.controller('messageManager', function($scope,$timeout) {
	 $scope.readPageNum = 1;
	 $scope.readPageSize = 20;
	 $scope.unreadPageNum = 1;
	 $scope.unreadPageSize = 20;
	 $scope.queryMessageReadList = function()//查询用户信息
	 {
		 

			layui.use(['layer'], function(){
				 var index =  layui.layer.load(3, {
					  shade: [0.1,'#888'] //0.1透明度的白色背景
					}); 
				 Ajax.post({
			         url: getRoot+'/query/message/list.ddxj',
			         data: {type:2,pageNum:$scope.readPageNum,pageSize:$scope.readPageSize},
			         async: true,
			         success: function(data) {
			        	 layer.close(index)
			             if(data.response == true)
			             {
			            	 $scope.readTotal = data.data.messageList.total;
			               	 $scope.readMessageList = data.data.messageList.list;
			               	 $scope.$apply();
			               	 if(!$scope.readInitPageFlag)
			               	 {
			               		$scope.initReadPage();
			               	 }
			            	 
			             }
			         }
			     }); 				
			 })
	 }
	 $scope.signMessageRead = function(id)
	 {
		 layui.use(['layer'], function(){
			 var index =  layui.layer.load(3, {
				  shade: [0.1,'#888'] //0.1透明度的白色背景
				}); 
			 Ajax.post({
		         url: getRoot+'/sign/message/read.ddxj',
		         data: {id:id,userName:userName},
		         async: true,
		         success: function(data) {
		        	 layer.close(index)
		             if(data.response)
		             {
		            	 layer.msg("标记成功");
	            		 $scope.queryMessageReadList();
	            		 $scope.queryMessageUnreadList();
		             }
		         }
		     }); 				
		 })
	 }
	 $scope.queryMessageUnreadList = function()//查询用户信息
	 {
		 
			layui.use(['layer'], function(){
				 var index =  layui.layer.load(3, {
					  shade: [0.1,'#888'] //0.1透明度的白色背景
					}); 
				 Ajax.post({
			         url: getRoot+'/query/message/list.ddxj',
			         data: {type:1,pageNum:$scope.unreadPageNum,pageSize:$scope.unreadPageSize},
			         async: true,
			         success: function(data) {
			        	 layer.close(index)
			             if(data.response == true)
			             {
			            	 $scope.unreadTotal = data.data.messageList.total;
			               	 $scope.unreadMessageList = data.data.messageList.list;
			               	 $scope.$apply();
			               	 if(!$scope.unreadInitPageFlag)
			               	 {
			               		$scope.initUnreadPage();
			               	 }
			            	 
			             }
			         }
			     }); 				
			 })
	 }
	 $scope.initReadPage = function()
	 {
		 $scope.readInitPageFlag = true;
		 layui.use(['laypage', 'layer'], function(){
			  var laypage = layui.laypage
			  ,layer = layui.layer;
			  laypage.render({
		      	    elem: 'messageRead'
		      	    ,count: $scope.readTotal //数据总数
		      	  	,limit:	20
		      	    ,jump: function(obj,first){
		      			$scope.readPageNum = obj.curr;
		      			$scope.readPageSize = obj.limit;
			      		if(!first)//一定要加此判断，否则初始时会无限刷新
			      		{
			      			$scope.queryMessageReadList();
	                    }
		      	    }
		      	  });
		 });
	 }
	 $scope.initUnreadPage = function()
	 {
		 $scope.unreadInitPageFlag = true;
		 layui.use(['laypage', 'layer'], function(){
			  var laypage = layui.laypage
			  ,layer = layui.layer;
			  laypage.render({
		      	    elem: 'messageUnread'
		      	    ,count: $scope.unreadTotal //数据总数
		      		,limit:	20
		      	    ,jump: function(obj,first){
		      			$scope.unreadPageNum = obj.curr;
		      			$scope.unreadPageSize = obj.limit;
			      		if(!first)//一定要加此判断，否则初始时会无限刷新
			      		{
			      			$scope.queryMessageUnreadList();
	                    }
		      	    }
		      	  });
		 });
	 }
	 $scope.queryMessageReadList();
	 $scope.queryMessageUnreadList();
	 layui.use('element', function(){
		  var $ = layui.jquery
		  ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
		  
		  //触发事件
		  var active = {
		    tabChange: function(){
		      //切换到指定Tab项
		      element.tabChange('demo', '22'); //切换到：用户管理
		    }
		  };
		  
	});
});
$(function(){
	$("#Competence_sort").click(function(){
		var option=$(this).find("option:selected").text();
		var value=$(this).val();
		if(value==0){
			  
			$("#sample_table tbody tr").show()
			}
			else{
		$("#sample_table tbody tr").hide().filter(":contains('"+(option)+"')").show();	
			}
		}).click();	
	});

</script>
