<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="../../css/layui.css"  media="all">
<link href="../../css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="../../font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script src="../../js/common/common.js" type="text/javascript" />
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script src="../../js/shopFrame.js" type="text/javascript"></script>
<script src="../../js/Sellerber.js" type="text/javascript"></script>
<script src="../../js/angular.min.js" type="text/javascript"></script>
<script src="../../js/lay/layui.js" charset="utf-8"></script>
<script src="../../js/common/initUtils.js" type="text/javascript"></script>
<title>管理员列表</title>
</head>
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
  <![endif]-->
<body>
<body ng-app="manager" ng-controller="userManager">
<div class="margin Competence_style" id="page_style">
    <div class="operation clearfix mb15">
     <div class="order-search-item">
		  <span class="search_title">真实姓名：</span>
		   <input type="text" name="realName" id="realName" ng-model="realName"   class="input textinput-main width160"  placeholder="请输入真实姓名关键字" /> 
	  </div>
     <div class="order-search-item">
		   <button class="btn button_btn bg-deep-blue " ng-click="queryUserList()"  type="button"><i class="fa  fa-search"></i>&nbsp;搜索</button>
		   <button  ng-click="openUserInfo()" id="administrator_add" class="btn button_btn bg-deep-blue" type="button"><i class="fa  fa-edit"></i>&nbsp;添加管理员</button>
	  </div>
		   
</div>
<div class="compete_list" >
       <table id="sample_table" class="table table_list table_striped table-bordered dataTable no-footer">
		 <thead>
			<tr>
			  <th>登录名</th>
			  <th>姓名</th>
			  <th>手机</th>
              <th>角色</th>
			  <th class="hidden-480">加入时间</th>  
              <th>状态</th>         
			  <th class="hidden-480">操作</th>
             </tr>
		    </thead>
             <tbody>
			  <tr ng-if="userList.length > 0 " ng-repeat="user in userList track by $index">
				<td ng-bind="user.userName"></td>
				<td ng-bind="user.realName"></td>
				<td ng-bind="user.phone ? user.phone : '暂无'"></td>
				<td ng-bind="user.managerRole.roleName ? user.managerRole.roleName : '暂无角色'"></td>
                <td ng-bind="user.createTime.time | date:'yyyy年MM月dd日'"></td>
                <td class="td-status" ng-if="user.flag == 1">
                	<span class="label label-success label-sm">已启用</span>
                </td>
                <td class="td-status" ng-if="user.flag == 2">
                	<span class="label label-error label-sm">已禁用</span>
                </td>
				<td class="td-manage">
					<div class="btn_group">
					<button class="layui-btn layui-btn-warm btn_group_action " onclick="changeBtnGroup(this)" type="button" >编辑<i class="fa  fa-angle-down ml10"></i></button>
					<ul class="btn_group_item none">
					<li><a title="启用" ng-click="updateStatus(user.id,1)" href="javascript:;"  ng-if="user.flag == 2">启用</a> </li> 
					<li><a title="停用" ng-click="updateStatus(user.id,2)" href="javascript:;"  ng-if="user.flag == 1">停用</a></li>
					<li><a title="编辑" ng-click="openUserInfo(user.id)" href="javascript:;" >编辑</a></li>
					<li><a title="删除" href="javascript:;" ng-click="deleteUserInfo(user.id)" >删除</a></li>
					</ul>
					</div>
				</td>
			   </tr>
			   <tr ng-if="userList.length == 0 ">
			   	<td class="center" colspan="7">暂无数据</td>
			   </tr>
		      </tbody>
	        </table>
     </div>
  <div id="list-page" class="clearfix col-xs-12 col-lg-12 align"></div>
</div>
 <!--添加管理员-->
 <div id="add_administrator" class=" add_administrator" style="display:none">
  <form ng-submit="updateUserInfo()" >
   <div class="add_style add_administrator_style">
    <ul>
     <li class="clearfix">
	     <label class="label_name col-xs-2 col-lg-2"><i>*</i>真实姓名：</label>
	     <div class="formControls col-xs-6">
	    	 <input type="text" class="input-text col-xs-12" value="" placeholder="请输入真实姓名" ng-model="user.realName">
	     </div>
     </li>
     <li class="clearfix">
	     <label class="label_name col-xs-2 col-lg-2"><i>*</i>用户名：</label>
	     <div class="formControls col-xs-6">
	     <input type="text" class="input-text col-xs-12" value="" ng-disabled="user.id?true:false" placeholder="请输入用户名" ng-model="user.userName" id="user-name" name="user-name" datatype="*2-16" nullmsg="用户名不能为空"></div>
     </li>
     <li class="clearfix">
       <label class="label_name col-xs-2 col-lg-2"><i class="c-red">*</i>密码：</label>
       <div class="formControls  col-xs-6">
		<input type="password" placeholder="请输入密码" autocomplete="off" class="input-text Validform_error  col-xs-12" ng-model="user.userPassword" >
		</div>
     </li>
     <li class="clearfix">
      <label class="label_name col-xs-2 col-lg-2"><i class="c-red">*</i>性&nbsp;别：</label>
      <div class="formControls  skin-minimal col-xs-6">
		    <label><input name="form-field-radio" type="radio" class="ace" ng-checked="true" ng-model="user.sex" value="保密"><span class="lbl">保密</span></label>&nbsp;&nbsp;
            <label><input name="form-field-radio" type="radio" class="ace" ng-model="user.sex" value="男"><span class="lbl" >男</span></label>&nbsp;&nbsp;
            <label><input name="form-field-radio" type="radio" class="ace" ng-model="user.sex" value="女"><span class="lbl" >女</span></label>
	  </div>
     </li>
     <li class="clearfix">
      <label class="label_name col-xs-2 col-lg-2"><i class="c-red">*</i>手&nbsp;机：</label>
      <div class="formControls col-xs-6">
		<input type="text" class="input-text col-xs-12" value="" placeholder="请输入手机号码" ng-model="user.phone" id="user-tel" >
	  </div>
     </li>
     <li class="clearfix">
      <label class="label_name col-xs-2 col-lg-2"><i class="c-red">*</i>角&nbsp;色：</label>
      <div class="formControls col-xs-6"> 
      		<span class="select-box" style="width:150px;">
				<select class="select" ng-model="user.roleId" ng-init="user.roleId=role[0].id" ng-options="role.id as role.roleName for role in roleList">
				<option value="">请选择角色</option>
					<!-- <option ng-repeat="role in roleList  track by $index" ng-selected="user.roleId" value="{{role.id}}">{{role.roleName}}</option> -->
				</select>
			</span>
         </div>
     </li>
        <li class="clearfix col-xs-12 col-lg-12 align">
	  <input class="btn button_btn bg-deep-blue btn_height" type="button" id="Add_Administrator" value="保存" ng-click="updateUserInfo()">
		</li>
    </ul>
	 </div>
    </form>
   </div>
</body>
</html>
<script>
var userManager = angular.module('manager', []);
userManager.controller('userManager', function($scope,$timeout) {
	 $scope.realName = "";
	 $scope.user = "";
	 $scope.pageNum = 1;
	 $scope.pageSize = 20;
	 $scope.total = 10;
	 $scope.queryUserList = function()//查询用户信息
	 {
			layui.use(['layer'], function(){
				 var index =  layui.layer.load(3, {
					  shade: [0.1,'#888'] //0.1透明度的白色背景
					}); 
				Ajax.post({
			         url: getRoot+'/manager/user/list.ddxj',
			         data: {realName:$scope.realName,pageNum:$scope.pageNum,pageSize:$scope.pageSize},
			         async: false,
			         success: function(data) {
			        	 layer.close(index);
			             if(data.response == true)
			             {
			            	 $scope.total = data.data.userList.total;
			               	 $scope.userList = data.data.userList.list;
			               	 $scope.$apply();
			               	if(!$scope.initPageFlag)
			               	 {
			               		$scope.initPage();
			               	 }
			            	 
			             }
			         }
			     }); 
				
			 })
	 }
	 $scope.initPage = function()
	 {
		 $scope.initPageFlag = true;
		 layui.use(['laypage', 'layer'], function(){
			  var laypage = layui.laypage
			  ,layer = layui.layer;
			  laypage.render({
		      	    elem: 'list-page'
		      	    ,count: $scope.total //数据总数
		      	  	,limit:	20
		      	    ,jump: function(obj,first){
		      			$scope.pageNum = obj.curr;
		      			$scope.pageSize = obj.limit;
			      		if(!first)//一定要加此判断，否则初始时会无限刷新
			      		{
			      			$scope.queryUserList();
	                    }
		      	    }
		      	  });
		 });
	 }
	 $scope.queryUserList();
	 $scope.queryRoleList = function()//查询角色
	 {
		 Ajax.post({
	         url: getRoot+'/manager/role/list.ddxj',
	         data: {},
	         async: true,
	         success: function(data) {
	             if(data.response == true)
	             {
	            	 $scope.roleList = data.data.roleList;
	            	 $scope.user.roleId = data.data.roleList[0].id;
	            	 $scope.$apply();
	             }
	         }
	     }); 
	 }
	 $scope.deleteUserInfo = function (id)
	 {
		 layer.confirm("确定要删除吗？",function(index){
			 Ajax.post({
		         url: getRoot+'/manager/delete/user.ddxj',
		         data: {id:id},
		         async: true,
		         success: function(data) {
		             if(data.response == true)
		             {
						 layer.msg('已删除!',{icon: 6,time:1000});
		            	 $scope.queryUserList();
		             }
		         }
		     }); 
		});
	 }
	 $scope.updateStatus = function(id,type)//更新用户状态
	 {
		 var msg = "确定要停用吗？";
		 if(type == 1)
		 {
			 msg = "确定要启用吗？";
		 }
		 layer.confirm(msg,function(index){
				 Ajax.post({
			         url: getRoot+'/manager/update/user/status.ddxj',
			         data: {id:id},
			         async: true,
			         success: function(data) {
			             if(data.response == true)
			             {
			            	
			            	 if(type == 1)
							 {
								 layer.msg('已启用!',{icon: 6,time:1000});
							 }
							 else if(type == 2)
							 {
								 layer.msg('已停用!',{icon: 5,time:1000});
							 }
			            	 $scope.queryUserList();
			             }
			         }
			     }); 
			});
	 }
	 $scope.openUserInfo = function(id)//打开添加窗口
	 {
		 $scope.user = "";
		 if(isNotNull(id))
		 {
			 Ajax.post({
		         url: getRoot+'/manager/query/user.ddxj',
		         data: {id:id},
		         async: true,
		         success: function(data) {
		             if(data.response == true)
		             {
		            	 $scope.user = data.data.user;
		            	 $scope.$apply();
		             }
		         }
		     }); 
		 }
		 layer.open({
			    type: 1,
				title:'添加管理员',
				area: ['600px',''],
				shadeClose: false,
				content: $('#add_administrator'),
				
				});
	 }
	 $scope.updateUserInfo = function()
	 {
		 if(!isNotNull($scope.user.realName))
		 {
			 layer.msg("请输入真实姓名");
			 return false;
		 }
		 if(!isNotNull($scope.user.userName))
		 {
			 layer.msg("请输入用户名");
			 return false;
		 }
		 if(!isNotNull($scope.user.userPassword))
		 {
			 layer.msg("请输入密码");
			 return false;
		 }
		 if(!isNotNull($scope.user.phone))
		 {
			 layer.msg("请输入联系电话");
			 return false;
		 }
		 if(!isNotNull($scope.user.roleId))
		 {
			 layer.msg("请选择角色");
			 return false;
		 }
		 Ajax.post({
	         url: getRoot+'/update/user.ddxj',
	         data: $scope.user,
	         async: true,
	         success: function(data) {
	             if(data.response == true)
	             {
	            	 layer.closeAll();
	            	 layer.msg(data.responseMsg);
	            	 $scope.queryUserList();
	             }
	         }
	     }); 
	 }
	 $scope.queryRoleList();
});

</script>
