<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.zn.ddxj.mapper.InviteLinkMapper" >

    <resultMap id="BaseResultMap" type="net.zn.ddxj.entity.InviteLink" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="ticket" property="ticket" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="flag" property="flag" jdbcType="INTEGER" />
        <!-- 一对一 关系 -->
        <association property="user" column="user_id" select="net.zn.ddxj.mapper.UserMapper.queryCutUserDetail"></association>
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_id, url, ticket, create_time, update_time, flag
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from zn_invite_link
        where id = #{id,jdbcType=INTEGER} 
        and flag = 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from zn_invite_link
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="net.zn.ddxj.entity.InviteLink" >
        insert into zn_invite_link (id, user_id, url, 
            ticket, create_time, update_time, 
            flag)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, 
            #{ticket,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
            #{flag,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="net.zn.ddxj.entity.InviteLink" >
        insert into zn_invite_link
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="url != null" >
                url,
            </if>
            <if test="ticket != null" >
                ticket,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="flag != null" >
                flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="ticket != null" >
                #{ticket,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null" >
                #{flag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="net.zn.ddxj.entity.InviteLink" >
        update zn_invite_link
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="ticket != null" >
                ticket = #{ticket,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="flag != null" >
                flag = #{flag,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="net.zn.ddxj.entity.InviteLink" >
        update zn_invite_link
        set user_id = #{userId,jdbcType=INTEGER},
            url = #{url,jdbcType=VARCHAR},
            ticket = #{ticket,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            flag = #{flag,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    
     <select id="findByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from zn_invite_link
        where user_id = #{userId,jdbcType=INTEGER} 
        and flag = 1
    </select>
    <!-- 查询 -->
    <select id="queryInviteLinkRecord" resultMap="BaseResultMap" parameterType="net.zn.ddxj.vo.RequestVo">
    	SELECT
    	u.*,
		i.id,
		i.user_id,
		i.url,
		i.ticket,
		i.create_time,
		i.update_time		
		FROM
		zn_invite_link AS i
		INNER JOIN zn_user AS u ON i.user_id = u.id
		WHERE u.flag = 1 AND i.flag = 1
		<if test="realName != null and realName !=''" >
           and  u.real_name like concat(concat('%', #{realName}), '%')
        </if>
        <if test="phone != null and phone !=''" >
           and  u.phone like concat(concat('%', #{phone}), '%')
        </if>  
    </select>
    
    <select id="queryInviteLinkRecordCms" resultMap="BaseResultMap" parameterType="net.zn.ddxj.vo.CmsRequestVo">
    	SELECT
    	u.*,
		i.id,
		i.user_id,
		i.url,
		i.ticket,
		i.create_time,
		i.update_time		
		FROM
		zn_invite_link AS i
		INNER JOIN zn_user AS u ON i.user_id = u.id
		WHERE u.flag = 1 AND i.flag = 1
		<if test="realName != null and realName !=''" >
           and  u.real_name like concat(concat('%', #{realName}), '%')
        </if>
        <if test="phone != null and phone !=''" >
           and  u.phone like concat(concat('%', #{phone}), '%')
        </if>  
    </select>
</mapper>