<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.zn.ddxj.mapper.SettingMapper" >

    <resultMap id="BaseResultMap" type="net.zn.ddxj.entity.Setting" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="cfg_key" property="cfgKey" jdbcType="VARCHAR" />
        <result column="cfg_value" property="cfgValue" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, cfg_key, cfg_value, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from zn_setting
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from zn_setting
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="net.zn.ddxj.entity.Setting" >
        insert into zn_setting (id, cfg_key, cfg_value, 
            create_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{cfgKey,jdbcType=VARCHAR}, #{cfgValue,jdbcType=VARCHAR}, 
            #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="net.zn.ddxj.entity.Setting" >
        insert into zn_setting
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="cfgKey != null" >
                cfg_key,
            </if>
            <if test="cfgValue != null" >
                cfg_value,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cfgKey != null" >
                #{cfgKey,jdbcType=VARCHAR},
            </if>
            <if test="cfgValue != null" >
                #{cfgValue,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="net.zn.ddxj.entity.Setting" >
        update zn_setting
        <set >
            <if test="cfgKey != null" >
                cfg_key = #{cfgKey,jdbcType=VARCHAR},
            </if>
            <if test="cfgValue != null" >
                cfg_value = #{cfgValue,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="net.zn.ddxj.entity.Setting" >
        update zn_setting
        set cfg_key = #{cfgKey,jdbcType=VARCHAR},
            cfg_value = #{cfgValue,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="querySettingByKey" resultMap="BaseResultMap">
    	select 
    		<include refid="Base_Column_List" />
    	from zn_setting where cfg_key = #{key}
    </select>
</mapper>