<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../css/shop.css" type="text/css" rel="stylesheet" />
<link href="../../css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link href="../../js/lay/css/layui.css" type="text/css"  rel="stylesheet" />
<link href="../../css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="../../css/chosen.css" type="text/css"  rel="stylesheet" />
<link href="../../font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script src="../../js/Sellerber.js" type="text/javascript"></script>
<script src="../../js/city_data.js" type="text/javascript"></script>
<script src="../../js/common/common.js" type="text/javascript"></script>
<script src="../../js/hsCheckData.js" type="text/javascript"></script>
<script src="../../js/angular.min.js" type="text/javascript"></script>
<script src="../../js/lay/layui.js" charset="utf-8"></script>
<script src="../../js/laydate/laydate.js" type="text/javascript"></script>
<script src="../../js/chosen.jquery.js" type="text/javascript"></script>
<title>管理资讯</title>
<style>
	#LAY_layedit_1 img
	{
		width:200px; 
	}
</style>
</head>
<body>
<div class="margin inside_pages clearfix" ng-app="information" ng-controller="informationManager">
	<div class="add_style clearfix relative">
		<ul>
			<li class="clearfix">
				<label class="label_name col-xs-1"><i>*</i>资讯标题：&nbsp;&nbsp;</label>
				<div class="Add_content col-xs-11">
					<input type="text" placeholder="请输入资讯标题" ng-model="information.infoTitle" class="col-xs-6"/>
				</div>
			</li>
			<li class="clearfix">
				<label class="label_name col-xs-1"><i>*</i>资讯简介：&nbsp;&nbsp;</label>
				<div class="Add_content col-xs-11">
					<input type="text" placeholder="请输入资讯简介" ng-model="information.infoSummary" class="col-xs-6"/>
				</div>
			</li>
			<li class="clearfix">
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>资讯类型：&nbsp;&nbsp;</label>
	   				<div class="Add_content col-xs-9">
	   					<span class="add_name">
			     			<select id="infoType_id" ng-disabled="{{disabledOpt}}" ng-model="information.infoType" ng-init="information.infoType = infoTypeList[0].value" ng-options="info.value as info.name for info in infoTypeList">
			               		<option value="">请选择资讯类型</option>
			       			</select>
						</span>
	   				</div>
	   			</div>
   				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>是否置顶：&nbsp;&nbsp;</label> 
					<div class="Add_content col-xs-9">
						<label><input type="radio" name="checkbox" ng-checked="stick == 1 ? true:false" id="stick1" class="ace"><span class="lbl">是</span></label>
						<label><input type="radio" name="checkbox" ng-checked="stick == 2 ? true:false" id="stick2" class="ace"><span class="lbl">否</span></label>
					</div>
	   			</div>
     		</li>
     		<li class="clearfix">
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>作者：&nbsp;&nbsp;</label>
					<div class="Add_content col-xs-9">
						<input type="text" placeholder="请输入作者" ng-model="information.author" class="col-xs-8"/>
					</div>
				</div>
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>资讯标注：&nbsp;&nbsp;</label>
					<div class="Add_content col-xs-9">
						<input type="text" placeholder="请输入资讯标注（多个请用,隔开）" ng-model="information.infoLabel" class="col-xs-8"/>
					</div>
				</div>
			</li>
     		<li class="clearfix" ng-show="information.infoType != null && information.infoType == 2">
     			<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>图片一：&nbsp;&nbsp;</label>
					<div class="Add_content col-xs-9">
						<div class="preview_img" style="max-width: 300px;">
							<img style="max-width: 100%;max-height: 100%;" ng-src="{{information.imageOne}}" id="imageOne" border="0" src="../../images/image.png" />
						</div>
						<div class="fileInput ">
							<input type="file" onchange="imageChange(this,'imageOne')" class="upFileBtn" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" />
				        </div>
					</div>
				</div>
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>图片二：&nbsp;&nbsp;</label>
					<div class="Add_content col-xs-9">
						<div class="preview_img" style="max-width: 300px;">
							<img style="max-width: 100%;max-height: 100%;" ng-src="{{information.imageTwo}}" id="imageTwo" border="0" src="../../images/image.png" />
						</div>
						<div class="fileInput ">
							<input type="file" onchange="imageChange(this,'imageTwo')" class="upFileBtn" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" />
				        </div>
					</div> 
				</div>
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>图片三：&nbsp;&nbsp;</label>
					<div class="Add_content col-xs-9">
						<div class="preview_img" style="max-width: 300px;">
							<img style="max-width: 100%;max-height: 100%;" ng-src="{{information.imageThree}}" id="imageThree" border="0" src="../../images/image.png" />
						</div>
						<div class="fileInput ">
							<input type="file" onchange="imageChange(this,'imageThree')" class="upFileBtn" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" />
				        </div>
					</div>
				</div>
			</li>
     		<li class="clearfix" ng-if="information.infoType != null && information.infoType == 3">
				<label class="label_name col-xs-1"><i>*</i>上传视频：&nbsp;&nbsp;</label>
				<div class="Add_content col-xs-11">
					<div id="preview" class="preview_img">
						<iframe ng-src="{{information.imageOne}}" id="uplVideo"></iframe>
					</div>
					<div class="fileInput ">
						<input type="file" onchange="uploadVideo(this)" id="upfileVideo" class="upFileBtn"/>
			        </div>
				</div>
			</li>
			<li class="clearfix" ng-show="information.infoType != null && information.infoType == 4">
     			<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>图片一：&nbsp;&nbsp;</label>
					<div class="Add_content col-xs-9">
						<div class="preview_img" style="max-width: 300px;">
							<img style="max-width: 100%;max-height: 100%;" ng-src="{{information.imageOne}}" id="imageFour" border="0" src="../../images/image.png" />
						</div>
						<div class="fileInput ">
							<input type="file" onchange="imageChange(this,'imageFour')" class="upFileBtn" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" />
				        </div>
					</div>
				</div>
			</li>
			<li class="clearfix">
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>上架时间：&nbsp;&nbsp;</label> 
					<div class="Add_content col-xs-9">
						<input class="laydate-icon col-xs-4 col-lg-3" id="start" ng-model="information.startTime" style="min-width: 170px;margin-right:10px; height:28px; line-height:28px; float:left">
					</div>   
				</div>
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>下架时间：&nbsp;&nbsp;</label> 
					<div class="Add_content col-xs-9">
						<input class="laydate-icon col-xs-4 col-lg-3" id="end" ng-model="information.endTime" style="min-width: 170px;height:28px; line-height:28px; float:left">
					</div>   
				</div>
			</li>
			<li class="clearfix">
				<div class="col-xs-4">
					<label class="label_name col-xs-3"><i>*</i>资讯分类：&nbsp;&nbsp;</label> 
					<div class="Add_content col-xs-9">
						<span class="add_name">
							<select class="select Competence_sort" data-placeholder="请选择分类" multiple id="info_category" name="admin-role" size="1"  style="width:170px;">
							</select>
						</span>
					</div>
				</div>
			</li>
			<li class="clearfix" id="textarea_content">
				<label class="label_name col-xs-1"><i>*</i>资讯内容：&nbsp;&nbsp;</label>
				<div class="Add_content col-xs-11">
					<textarea class="layui-textarea" id="LAY_demo1" ng-model="information.infoContent" style="display: none"></textarea>
				</div>
			</li>
		</ul>
		<div class="Button_operation btn_width">
			<button class="btn button_btn bg-deep-blue" type="button" ng-click="submitInformation()">保存并提交</button>
			<button class="btn button_btn bg-gray" type="button" onclick="window.location.href='informationList.html'">取消添加</button>
		</div>
	</div>
</div>
</body>
</html>
<script>
/******时间设置*******/
var start = 
{
	elem: '#start',
	format: 'YYYY-MM-DD hh:mm:ss',
	min: laydate.now(), //设定最小日期为当前日期
	max: '2099-06-16 23:59:59', //最大日期
	istime: true,
	istoday: false,
	choose: function(datas)
	{
		end.min = datas; //开始日选好后，重置结束日的最小日期
		end.start = datas //将结束日的初始值设定为开始日
	}
};
var end = 
{
	elem: '#end',
	format: 'YYYY-MM-DD hh:mm:ss',
    min: laydate.now(),
    max: '2099-06-16 23:59:59',
    istime: true,
    istoday: false,
    choose: function(datas)
    {
		start.max = datas; //结束日选好后，重置开始日的最大日期
    }
};
laydate(start);
laydate(end);

var inforId = urlParam("inforId");
var infor = angular.module('information', []);
infor.controller('informationManager', function($scope,$timeout,$sce)
{
	$scope.stick = 2;
	if(isNotNull(inforId))
	{
		$scope.disabledOpt = true;
	}
	else
	{
		$scope.disabledOpt = false;
	}
	
	layui.use(['layer'], function(){}); 
	$scope.infoTypeList = [{
		name:'纯文字',
		value:1
	},{
		name:'多图模式',
		value:2
	},{
		name:'视频模式',
		value:3
	},{
		name:'单图模式',
		value:4
	}]
	
	$scope.information = {};
	$scope.information.stick = 2;
	$scope.informationDetail = function()
	{
		if(isNotNull(inforId))
		{
			Ajax.post({
				url: getRoot+'/infor/mation/detail.ddxj', 
				data: {inforId:inforId},
		        async: true,
		        success: function(data) {
		    		if(data.response == true)
	    			{
						$scope.information = data.data.information;
						if($scope.information.infoType == 3)
						{
							$scope.information.imageOne = $sce.trustAsResourceUrl(data.data.information.imageOne);
						}
						$scope.information.startTime = timeInMillisToformat(data.data.information.startTime.time);
	               		$scope.information.endTime = timeInMillisToformat(data.data.information.endTime.time);
	               		$scope.stick = data.data.information.stick;
	               		$scope.initRichText();
	               		
	               		$("#info_category option").remove();
		        		$("#info_category option").removeAttr("selected");
		            	$scope.queryCategoryType(data.data.information.categoryList);
		    			$scope.$apply();
	         		}
         		}
			}); 
		}
	}
	
	$scope.queryCategoryType = function(categoryList)//根据角色查询角工种
	{
		Ajax.post({
			url: getRoot+'/info/mation/category/list.ddxj',
			data: {pageSize:9999},
			async: true,
			success: function(data) {
				if(data.response == true)
				{
					var categoryListData = data.data.categoryList.list;
					$("#info_category").empty();
					for(var d = 0;d<categoryListData.length;d++)
					{
						$("#info_category").append("<option value='"+categoryListData[d].id+"'>"+categoryListData[d].name+"</option>")
					}
					$("#info_category").chosen({
						allow_single_deselect: true,  //是否允许取消选择
						disable_search:false
					});
					if(isNotNull(categoryList) && categoryList.length > 0)
					{
						for(var f = 0;f<categoryList.length;f++)
						{
							$("#info_category option[value='"+categoryList[f].id+"']").prop("selected",true);
						}
					}
					$("#info_category").trigger("chosen:updated");
	             }
	         }
		});
	}
	
	if(!isNotNull(inforId))
	{
		$scope.queryCategoryType(null);
	}
	
	$scope.$watch('$viewContentLoaded', function() {  
		$scope.informationDetail();
		if(!isNotNull(inforId))
		{
			$scope.initRichText();
		}

	}); 
	$scope.initRichText = function()
	{
		layui.use('layedit', function(){
			layedit = layui.layedit,$ = layui.jquery;
			layedit.set({
				uploadImage: {
					url: getRoot+'/upload/qiniu/image.ddxj' //接口url
					,type: 'post' //默认post
				},height: 800 
			});
			
			if($scope.information != null && $scope.information.infoType == 1)
			{
				//构建一个默认的编辑器
				textAreaIndex = 
				layedit.build('LAY_demo1', {
					tool: [
					       'strong' //加粗
					       ,'italic' //斜体
					       ,'underline' //下划线
					       ,'del' //删除线
					       ,'|' //分割线
					       ,'left' //左对齐
					       ,'center' //居中对齐
					       ,'right' //右对齐
					       ,'|' //分割线
					       ,'link' //超链接
					       ,'unlink' //清除链接
					       ,'face' //表情
					     //插入图片 ,'image' 
					     //帮助,'help' 
					     ]
				});//自定义工具栏
			}
			else
			{
				//构建一个默认的编辑器
				textAreaIndex = layedit.build('LAY_demo1');
			}
		});
	}
	
	$scope.submitInformation = function()
	{
		$scope.submitData = {};
		var information = $scope.information;
		if(isNotNull(information.id))
		{
			$scope.submitData.inforId = information.id;
		}
		$scope.submitData.infoTitle =  information.infoTitle;
		$scope.submitData.infoSummary = information.infoSummary;
		$scope.submitData.author = information.author;
		if(!isNotNull(information.infoLabel))
		{
			information.infoLabel = "";
		}
		$scope.submitData.infoLabel = information.infoLabel;
		$scope.submitData.startTime = information.startTime;
		$scope.submitData.endTime = information.endTime;
		$scope.submitData.infoType = information.infoType;
		$scope.submitData.imageOne = $("#imageOne").attr("src");
		$scope.submitData.imageTwo = $("#imageTwo").attr("src");
		$scope.submitData.imageThree = $("#imageThree").attr("src");
		
		if($("#stick1").is(":checked"))
		{
			$scope.submitData.stick = 1;
		}
		else if($("#stick2").is(":checked"))
		{
			$scope.submitData.stick = 2;
		}
		
		if(!isNotNull(information.infoTitle))
		{
			layer.msg("请输入资讯标题！");
			return false;
		}
		
		if(!isNotNull(information.infoSummary))
		{
			layer.msg("请输入资讯简介！");
			return false;
		}
		
		if(!isNotNull(information.author))
		{
			layer.msg("请输入作者！");
			return false;
		}
		if(!isNotNull($("#start").val()))
		{
			layer.msg("请选择上架时间！");
			return false;
		}
		else
		{
			$scope.submitData.startTime = $("#start").val();
		}
		
		if(!isNotNull($("#end").val()))
		{
			layer.msg("请选择下架时间！");
			return false;
		}
		else
		{
			$scope.submitData.endTime = $("#end").val();
		}
		
		var infoType = information.infoType;
		if(!isNotNull(infoType))
		{
			layer.msg("请选择资讯类型");
			return false;
		}
		else if(infoType == 2)
		{
			if($scope.submitData.imageOne == "../../images/image.png")
			{
				layer.msg("请上传图片一！");
				return false;
			}
			
			if($scope.submitData.imageTwo == "../../images/image.png")
			{
				layer.msg("请上传图片二！");
				return false;
			}
			
			if($scope.submitData.imageThree == "../../images/image.png")
			{
				layer.msg("请上传图片三！");
				return false;
			}
		}
		else if(infoType == 3)
		{
			if(!isNotNull($("#uplVideo").attr("src")))
			{
				layer.msg("请上传视频！");
				return false;
			}
			else
			{
				$scope.submitData.imageOne = $("#uplVideo").attr("src");
			}
		}
		else if(infoType == 4)
		{
			$scope.submitData.imageOne = $("#imageFour").attr("src");
			if($scope.submitData.imageOne == "../../images/image.png")
			{
				layer.msg("请上传图片一！");
				return false;
			}
		}
		
		var categorysList = $("#info_category").val();
		if(categorysList == null || categorysList.length <= 0)
		{
			layer.msg("请选择分类");
			return false;
		}
		else
		{
			var categorys = "";
			for(var d = 0;d<categorysList.length;d++)
			{
				categorys +=categorysList[d]+",";
			}
			$scope.submitData.categorys = categorys.substring(0,categorys.length -1);
		}
		
		$scope.submitData.infoContent = layedit.getContent(textAreaIndex);
		if(!isNotNull($scope.submitData.infoContent))
		{
			layer.msg("请输入资讯内容！");
			return false;
		}
		
		Ajax.post({
			url: getRoot+'/infor/mation/edit.ddxj',
			data: $scope.submitData,
			async: true,
			success: function(data) 
			{
				if(data.response)
				{
					layer.closeAll();
					layer.msg(data.responseMsg);
					
					setTimeout(function(){
						window.location.href = "informationList.html";
					},1500);
				}
			}
		})
	}
	$scope.$watch("information.infoType",function(newValue,oldValue) {
	   	$scope.information.infoType = newValue
	   	
	   	if(newValue == 1)
		{
			//构建一个默认的编辑器
			textAreaIndex = 
			layedit.build('LAY_demo1', {
				tool: [
				       'strong' //加粗
				       ,'italic' //斜体
				       ,'underline' //下划线
				       ,'del' //删除线
				       ,'|' //分割线
				       ,'left' //左对齐
				       ,'center' //居中对齐
				       ,'right' //右对齐
				       ,'|' //分割线
				       ,'link' //超链接
				       ,'unlink' //清除链接
				       ,'face' //表情
				     //插入图片 ,'image' 
				     //帮助,'help' 
				     ]
			});//自定义工具栏
		}
		else
		{
			//构建一个默认的编辑器
			textAreaIndex = layedit.build('LAY_demo1');
		}
	});
});
/*********滚动事件*********/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});

function uploadVideo(event)
{
	layui.use(['layer'], function(){
		var src = uploadVideoTOQN(event);
		$("#preview").html("<iframe src='" + src +"' id='uplVideo'></iframe>");
	})
}

</script>
