<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../../css/shop.css" type="text/css" rel="stylesheet" />
<link href="../../css/Sellerber.css" type="text/css"  rel="stylesheet" />
<link rel="stylesheet" href="../../css/layui.css"  media="all">
<link href="../../css/bkg_ui.css" type="text/css"  rel="stylesheet" />
<link href="../../font/css/font-awesome.min.css"  rel="stylesheet" type="text/css" />
<link href="../../css/common/common.css"  rel="stylesheet" type="text/css" />
<script src="../../js/jquery-1.9.1.min.js" type="text/javascript" ></script>
<script src="../../js/common/common.js" type="text/javascript" />
<script type="text/javascript" src="../../js/jquery.cookie.js"></script>
<script src="../../js/shopFrame.js" type="text/javascript"></script>
<script src="../../js/Sellerber.js" type="text/javascript"></script>
<script src="../../js/angular.min.js" type="text/javascript"></script>
<script src="../../js/lay/layui.js" charset="utf-8"></script>
<script src="../../js/laydate/laydate.js" type="text/javascript"></script>
<title>银行卡列表</title>
</head>
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <script src="js/css3-mediaqueries.js"  type="text/javascript"></script>
  <![endif]-->
<style>
	.item
	{
		display: inline-block;
		margin: 5px;
	}
</style>
<body ng-app="bank" ng-controller="userBank">
	<div class="margin Competence_style" id="page_style">
		<div class="compete_list" >
			<table id="sample_table" class="table table_list table_striped table-bordered dataTable no-footer">
				<thead>
					<tr>
						<th class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></th>
						<th>银行卡号</th>
						<th>银行卡正面</th>
						<th>银行卡反面</th>
						<th>银行名称</th>
						<th>银行卡类型</th>
						<th>持卡人姓名</th>
						<th>持卡人身份证</th>
						<th>预留手机号</th>
						<th>银行开户行</th>
						<th>创建时间</th>
						<th class="hidden-480">操作</th>
					</tr>
				</thead>
	            <tbody>
					<tr ng-if="userBankList.length > 0 " ng-repeat="bank in userBankList track by $index">
						<td class="center"><label><input type="checkbox" class="ace"><span class="lbl"></span></label></td>
						<td ng-bind="bank.bankCard"></td>
						<td><a href="#" ng-click="showBigImage(bank.bankFront)">点击查看</a></td>
						<td><a href="#" ng-click="showBigImage(bank.bankOpposite)">点击查看</a></td>
						<td ng-bind="bank.bankName"></td>
						<td ng-bind="bank.bankType"></td>
						<td ng-bind="bank.cardholderName"></td>
						<td ng-bind="bank.cardholderIdNumber"></td>
						<td ng-bind="bank.phone"></td>
						<td ng-bind="bank.address ? bank.address : '未知'"></td>
						<td ng-bind="bank.createTime.time | date:'yyyy年MM月dd日'"></td>
						<td class="td-manage">
							<a title="删除" href="javascript:;" ng-click="deleteUserBank(bank.id)" class="btn button_btn btn-danger">删除</a>
						</td>
					</tr>
					<tr ng-if="userBankList.length == 0 ">
						<td class="center" colspan="20">暂无数据 <b class="red">&nbsp;&nbsp;提示：请确认您的查询条件是否正确，或者减少一些筛选条件</b></td>
					</tr>
				</tbody>
			</table>
		</div>
	 	<div id="list-page" class="clearfix col-xs-12 col-lg-12 align"></div>
	</div>
	<div id="show_credit_image" class="addOrUpdate_credit layui-form-item" style="display:none">
		<a class="close" ng-click="hideBigImage()"></a>
		<div class="hide-layer" ng-click="hideBigImage()"></div>
		<div class="add_style add_administrator_style">
			<img ng-src="{{image}}" ng-model="image" class="big-img" src="" />
		</div>
	</div>
</body>
</html>
<script>
var bank = angular.module('bank', []);
bank.controller('userBank', function($scope,$timeout) {
	$scope.categoryName = "";
	$scope.pageNum = 1;
	$scope.pageSize = 20;
	$scope.userId = urlParam('userId');
	$scope.queryUserBankList = function()//查询工种信息
	{
		layui.use(['layer'], function(){
			var index =  layui.layer.load(3, {
				shade: [0.1,'#888'] //0.1透明度的白色背景
			}); 
			Ajax.post({
				url: getRoot+'/query/userBank/list.ddxj',
				data: {userId:$scope.userId,pageNum:$scope.pageNum,pageSize:$scope.pageSize},
				async: true,
				success: function(data) {
					layer.close(index);
					if(data.response == true)
					{
						$scope.total = data.data.userBankList.total;
						$scope.userBankList = data.data.userBankList.list;
						$scope.$apply();
						if(!$scope.initPageFlag)
						{
							$scope.initPage();
						}
					}
				}
			}); 
		}); 
	}
	$scope.initPage = function()
	{
		$scope.initPageFlag = true;
		layui.use(['laypage', 'layer'], function(){
			var laypage = layui.laypage
			,layer = layui.layer;
			laypage.render({
				elem: 'list-page'
				,count: $scope.total //数据总数
				,limit:	20
	      	    ,jump: function(obj,first){
					$scope.pageNum = obj.curr;
	      			$scope.pageSize = obj.limit;
		      		if(!first)//一定要加此判断，否则初始时会无限刷新
		      		{
		      			$scope.queryUserBankList();
                    }
	      	    }
			});
		});
	}
	$scope.queryUserBankList();
	$scope.deleteUserBank = function (id)
	{
		layer.confirm("确定要删除吗？(<span style='color:red;'>删除后不可恢复！</span>)",function(index){
			Ajax.post({
				url: getRoot+'/manager/userBank/delete.ddxj',
				data: {id:id},
				async: true,
				success: function(data) {
					if(data.response == true)
					{
						layer.msg('已删除!',{icon: 6,time:1000});
						$scope.queryUserBankList();
					}
				}
			}); 
		});
	}
	
	$scope.showBigImage = function(url){
		$scope.image = url;
		$("#show_credit_image").show();
	}
	
	$scope.hideBigImage = function(){
		$scope.image = "";
		$("#show_credit_image").hide();
	}
});

$(function(){
	$("#Competence_sort").click(function(){
		var option=$(this).find("option:selected").text();
		var value=$(this).val();
		if(value==0)
		{
			$("#sample_table tbody tr").show()
		}
		else
		{
			$("#sample_table tbody tr").hide().filter(":contains('"+(option)+"')").show();	
		}
	}).click();	
});

/*******滚动条*******/
$("body").niceScroll({  
	cursorcolor:"#888888",  
	cursoropacitymax:1,  
	touchbehavior:false,  
	cursorwidth:"5px",  
	cursorborder:"0",  
	cursorborderradius:"5px"  
});

/****复选框选中******/
$('table th input:checkbox').on('click' , function(){
	var that = this;
	$(this).closest('table').find('tr > td:first-child input:checkbox')
	.each(function(){
		this.checked = that.checked;
		$(this).closest('tr').toggleClass('selected');
	});
});
</script>